@import 'assets/css/index';

.preview-list-update {
  width: 256px;
  border: 10px solid white;
  @media (max-width: 767px) {
    width: 100% !important;
  }
  .sharedActivityImage {
    height: 100px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .textSharedActivity {
    padding: 10px;
  }

}
.white-backgroud {
  background: #fff;
  height: 100vh;
}
.activity-preview-card {
  width: 14rem;
}
.plydet-update {
  position: absolute;
  bottom: 0;
  color: $white !important;
  font-family: $rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 12px 16.02px;
}
.playimage-update {
  width: 250px !important;
  height: 156px !important;
  border-radius: 8px;
  background-size: cover;
  background-position: center;

  &:before {
    background: linear-gradient(180deg, rgba(81, 81, 81, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 8px;
    content: '';
    display: block;
    position: absolute;
    width: 250px !important;
    height: 156px !important;
  }
}
.resource-dropdown {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.playimage-update-mobile {
  @media (max-width: 767px) {
    width: 100% !important;
    height: 48px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 8px;
    .playimage-update {
      position: static !important;
      width: 32px !important;
      height: 32px !important;
      &:before {
        content: none;
      }
    }
    #plydet-update-id {
      position: static !important;
      font-size: 10px !important;
      line-height: 16px !important;
      color: #767676 !important;
    }
  }
}
