@import 'assets/css/index';

.myvideomain {
  .inner-content {
    background: $white;
    // padding: 32px 30px 30px;
    padding: 16px 24px;
    // margin: 13px 39px 81px 29px;
    border-radius: 3px;
    min-height: 764px;
    @media screen and (max-width: 1024px) {
      margin: 13px 20px 81px 20px;
    }
    .topHeading-video-detail {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      border-bottom: 1px solid #dddddd;

      .topHeading {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        align-items: flex-end;
      }
      .top-video-detail {
        margin-top: 16px;
        .video-title-btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .video-detail {
          // margin-top: 15px;
        }
      }
    }
    .my-interactive-videos {
      .top-tabs {
        border-bottom: 1px solid #084892;

        .nav-link.active {
          border-color: #084892 #084892 #fff;
        }
      }
    }
    .video-default-contianer {
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;

      img {
        max-width: 50%;
        margin-right: 30px;
      }
      .video-heading-1 {
        h2 {
          border: none !important;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
        }
      }
      .video-heading-2 {
        width: 577px;
        p {
          font-size: 18px !important;
          line-height: 26px !important;
        }
      }
      .video-heading-3 {
        margin: 24px 0;
        h3 {
          font-weight: 600;
          font-size: 17px;
          line-height: 26px;
        }
      }
      .vedio-help {
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
          span {
            color: $curriki-main-blue;
          }
        }
      }
    }

    .video-cards-top-search-filter {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      padding: 20px 10px;
      width: 100%;
      flex-wrap: wrap;
      margin: 16px 0px 22px;
      background-color: #f7faff;
      .search-bar {
        position: relative;
        margin-right: 33px;
        input {
          border: none;
          color: $fun-blue-1;
          border-bottom: 1px solid $fun-blue-1;
          font-weight: 400;
          background: none;
          font-size: 14px;
          width: 238px;
          padding-right: 20px;
          &::placeholder {
            color: $fun-blue-1;
          }
        }

        img {
          position: absolute;
          right: 0;
          bottom: 4px;
        }
        svg {
          position: absolute;
          right: 0;
          bottom: 4px;
        }
      }
      .video-filter-bar {
        display: flex;
        align-items: center;
        span {
          font-weight: 400;
          color: $curriki-main-blue;
          font-size: 18px;
          margin-left: 12px;
        }
      }
    }
    .video-cards-detail {
      display: flex;
      flex-wrap: wrap;
      .card-spacing {
        margin-top: 16px;
      }
    }
  }
}

.form-new-popup-myvideo {
  position: fixed;
  background: #0848928f;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1060;
  height: 100%;

  padding-left: 285px;
  .cross-all-pop {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 28px;
    cursor: pointer;
    z-index: 99999;
  }
  .inner-form-content {
    position: absolute;
    right: 0;
    background: #fff;
    opacity: 1;
    width: 1120px;
    height: 100vh;
    padding: 50px;
  }
}

.add-video-form {
  // padding: 0 50px;

  .add-video-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    .ml-10 {
      margin-left: 10px;
    }
    .mt-10 {
      margin-top: 15px;
    }
  }
  .add-video-title-select {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-video-title {
      margin-top: 30px;
      width: max-content;
      h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
      }
    }
    .add-video-tour {
      .ml-9 {
        margin-right: 9px;
      }
      span {
        cursor: pointer;
        width: 69px;
        height: 32px;
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #084892;
        background: #f7faff;
        border-radius: 4px;
        padding: 9px;
      }
    }
  }
  .add-video-form-tabs {
    .main-tabs {
      border-bottom: 1px solid $curriki-main-blue;
      width: max-content;
      .nav-item {
        margin-top: 24px;
        background: transparent !important;
        color: $curriki-main-blue !important;
        // width: 160px;
        height: 36px;
        // padding: 8px 32px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal !important;
        font-size: 14px;
        line-height: 20px;

        // margin-right: 8px;
      }
    }

    .main-tabs .nav-item.active {
      background-color: $white !important;
      color: $fun-blue-1 !important;
      border: none !important;
      border-bottom: 4px solid $curriki-main-blue !important;
      font-weight: 500 !important;
      font-size: 14px;
      line-height: 20px;
    }
    .main-tabs .nav-item.active:after {
      display: none !important;
    }
    .nav-tabs .nav-link {
      border: none !important;
    }
    .nav-tabs .nav-link:hover {
      border: none !important;
      border-bottom: 4px solid $curriki-main-blue !important;
    }
  }
  .add-video-layout-formik {
    // @media screen and (max-width: 1024px) {
    //   width: 280px;
    // }
    // max-width: 500px;
    // margin-top: 34px;

    .layout-title-formik-textField {
      display: flex;
      align-items: center;
      margin-top: 24px;
      img {
        width: 76px;
        height: 32px;
        margin-right: 16px;
      }
      .textField-title {
        h3 {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .textField-detailText {
        p {
          font-size: 12px;
          line-height: 16px;
        }
      }
      input {
        width: 380px;
        height: 36px;
        outline: none;
        background: #ffffff;
        border: 1px solid #515151;
        border-radius: 4px;
        text-indent: 10px;
      }
      .ml-32 {
        margin-left: 32px;
      }
    }
  }
  .describe-video {
    position: absolute;
    bottom: 80px;
    right: 80px;
  }
}

// Describe Video
.add-describevideo-form {
  // padding: 0 50px;

  .add-describevideo-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    .ml-10 {
      margin-left: 10px;
    }
    .mt-10 {
      margin-top: 15px;
    }
  }
  .add-describevideo-title-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .add-describevideo-title {
      // margin-top: 50px;
      width: max-content;
      h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
      }
    }
    .add-describevideo-tour {
      .ml-9 {
        margin-right: 9px;
      }
      span {
        cursor: pointer;
        width: 69px;
        height: 32px;
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #084892;
        background: #f7faff;
        border-radius: 4px;
        padding: 9px;
      }
    }
  }
  .add-describevideo-form-tabs {
    .main-tabs {
      border-bottom: 1px solid $curriki-main-blue;
      width: max-content;
      .nav-item {
        margin-top: 24px;
        background: transparent !important;
        color: $curriki-main-blue !important;
        // width: 160px;
        height: 36px;
        padding: 8px 0px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal !important;
        font-size: 14px;
        line-height: 20px;

        // margin-right: 8px;
      }
    }

    .main-tabs .nav-item.active {
      background-color: $white !important;
      color: $fun-blue-1 !important;
      border: none !important;
      border-bottom: 2px solid $curriki-main-blue !important;
    }
    .main-tabs .nav-item.active:after {
      display: none !important;
    }
  }
  .add-describevideo-section-layout-formik {
    display: flex;
    align-items: flex-start;
    .add-describevideo-layout-formik {
      @media screen and (max-width: 1024px) {
        width: 280px;
      }
      max-width: 536px;
      margin-top: 32px;
      width: 70%;

      .interactive-video-heading-two {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #084892;
      }

      .dec-title-formik-textField {
        margin-top: 16px;
        .textField-title {
          h3 {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }
        }
        .textField-detailText {
          p {
            font-size: 12px;
            line-height: 16px;
          }
        }
        input {
          width: 100%;
          height: 40px;
          outline: none;
          background: #ffffff;
          border: 1px solid #515151;
          border-radius: 4px;
          text-indent: 10px;
        }
        textarea {
          width: 100%;
          // height: 40px;
          outline: none;
          background: #ffffff;
          border: 1px solid #515151;
          border-radius: 4px;
          text-indent: 10px;
          padding: 8px;
        }
        .ml-32 {
          margin-left: 32px;
        }
      }
      .layout-formik-select {
        margin-top: 16px;
        display: flex;
        .formik-select {
          max-width: 168px;
          flex: 1;
          .formik-select-title {
            margin: 0;
          }
          select {
            width: 220px;
            height: 36px;
            background: #ffffff;
            border: 1px solid #515151;
            border-radius: 4px;
            padding: 0 8px;
          }
          button {
            width: 100%;
            height: 40px;
            outline: none;
            color: #515151 !important;
            background: #ffffff;
            border: 1px solid #515151 !important;
            border-radius: 4px;
            text-indent: 10px;
            box-shadow: none;
          }
        }
        .mr-32 {
          margin-right: 32px;
        }
        .mr-16 {
          margin-right: 16px;
        }
      }

      .formik-uploadimage {
        margin-top: 32px;
      }
    }
    .describe-video-upload-section {
      margin-left: 100px;
      .uploadImage-describe-video {
        .uploadimage-box {
          width: 360px;
          height: 203px;
        }
      }
    }
  }

  .describe-video {
    position: absolute;
    top: 243px;
    left: 54%;
    right: 10px;
    // display: flex;
    button {
      margin-top: 50px;
    }
  }
}

.z-index {
  z-index: 0;
}

.main-tabs .nav-item {
  margin-top: 24px;
  background-color: $fun-blue-1 !important;
  color: $white !important;
  width: auto;
  height: 36px;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500 !important;
  margin-right: 8px;
}

.main-tabs .nav-item.active {
  background-color: $white !important;
  color: $fun-blue-1 !important;
  border-bottom: #fff !important;
}
.main-tabs .nav-item.active:after {
  display: none !important;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  & img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  & p {
    color: #084892;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
}
.search-bar-btn {
  display: flex;

  .search-bar-activity {
    width: 240px;
    margin-right: 32px;
    border: 1px solid $curriki-main-blue;
    border-radius: 20px;
    padding: 8px 16px;
    input {
      border: none;
    }
  }
}
.video-top-heading-custom {
  h1 {
    margin-top: 14px;
  }
}
.project-headline {
  .search-main-relaced {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 15px;
    .dropdown-toggle::after {
      content: none;
    }
    .search-div {
      // margin-right: 32px;
    }
    .searchicon {
      top: 8px;
      width: 18px;
    }

    .search-block {
      height: 36px;
      width: 251px;
      border: 1px solid #084892;
      height: 36px;
      width: 251px;
      border: 1px solid #084892;
      background: #ffffff 0 0 no-repeat padding-box;

      box-sizing: border-box;
      border-radius: 20px;
      opacity: 1;
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0;
      color: #084892;
      padding-left: 16px;
      padding-right: 60px;

      font-family: 'Open Sans', sans-serif;

      input {
        border: none;
        padding-top: 7px;
      }
    }
    .search-block + .dropdown-menu {
      top: 25px !important;
      right: 0 !important;
    }
    .fa-chevron-down {
      top: 8px;
    }
  }
  .title {
    font-weight: 500;
    font-size: 30px;
    color: $fun-blue-1;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    .heading-image {
      display: flex;
    }

    img {
      width: 35px;
      margin-right: 5px;
    }

    button {
      font-size: 14px;
    }
  }

  p {
    font-size: 14px;
    color: $dove-gray;
  }

  .btn-top-page {
    font-size: 14px;
    color: $mercury;
    font-size: 14px;
    background: $fun-blue-1;
    border: 1px solid $fun-blue-1;
    box-sizing: border-box;
    border-radius: 50px;
    align-items: center;
    width: 160px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-heading-detail {
    margin-top: 15px;
    margin-bottom: 24px;
  }
  button .fa-plus {
    color: #f8af2c;
  }
}
