@import 'assets/css/index';

.curriki-utility-startpage-two {
  padding: 9px 0px 25px !important;
}
.curriki-utility-startpage {
  padding: 80px 64px 8px;

  .startpage-section-two {
    margin-bottom: 350px;
  }
  .startpage-section {
    display: flex;
    justify-content: space-between;

    .create-project-card {
      position: relative;
      .create-project-popup {
        position: absolute;
        top: 83px;
        left: 258px;
        padding: 21px 16px 16px;
        width: 400px;
        height: auto;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 8px 18px 4px rgba(8, 72, 146, 0.16);

        &::before {
          content: '';
          position: absolute;
          top: 30px;
          left: -15px;
          width: 40px;
          height: 40px;
          background: linear-gradient(50deg, rgb(255, 255, 255) 50%, rgba(9, 9, 121, 0) 50%);
          transform: rotate(40deg);
          border-radius: 8px;
        }

        .popup-heading {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 8px;
        }
        .popup-discription {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 16px;
        }

        .divider {
          width: 100%;
          height: 1px;
          background: #f1f1f1;
          margin-bottom: 16px;
        }

        .popup-use-project {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
        }

        .lists {
          display: flex;
          align-items: flex-start;
          &:not(:last-child) {
            margin-bottom: 8px;
          }

          svg {
            margin-top: 5px;
          }
          .list-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 0 10px;
          }
        }
      }
    }

    .section-detail {
      max-width: 718px;
      h1 {
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        color: #515151;
      }
      .section-heading-one {
        margin-bottom: 24px;
      }
      .create-section-h2-space {
        margin-bottom: 8px;
      }
      .prap-space {
        margin-bottom: 24px !important;
      }

      h2 {
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #515151;
        margin-bottom: 8px;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #515151;
        margin-bottom: 0px !important;

        a {
          font-weight: bold;
          color: #515151;
        }
      }

      h6 {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #515151;

        margin-bottom: 64px;

        a {
          font-weight: bold;
          color: #515151;
        }
      }
      .help-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
      ul {
        list-style-type: decimal;
        margin-left: 18px;
        margin-top: 10px;
        margin-bottom: 34px;
        li {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */

          /* Neutrals/W1 */

          color: #515151;
        }
      }
    }
    .create-new-btn {
      margin-bottom: 40px;
    }
    .section-btn {
      background: #e5eeff;
      width: 290px;
      height: 240px;
      border-radius: 8px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      padding-bottom: 48px;
      span {
        margin-top: 28px;
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #2e68bf;
      }
    }
  }
  .help-section {
    margin-top: 40px;
    .help-section-lost-title {
      margin-bottom: 32px !important;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #515151;
    }
    .help-section-h2-heading {
      margin-top: 8px;
    }
  }
}
