@import "assets/css/index";

.site-container-preview {
  width: calc(100% - 158px);
  transition: all ease-out 0.3s !important;
  margin-left: 158px;
  margin-top: 32px;
  .container {
    max-width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 24px 32px;
    .project-details {
      display: flex;
      .project-title-desc {
        // width: 700px;
        margin-left: 16px;
        margin-right: 24px;
        @media (max-width: 1024px) {
          width: 400px;
        }
        .project-title {
          margin-top: 16px;
          h2 {
            color: rgb(8, 72, 146) !important;
            font-weight: 500;
            font-family: "rubic";
            font-size: 32px;
            line-height: 36px;
            font-style: normal;
            margin: 0;
            padding: 0;
          }
        }
        .project-description {
          margin-top: 16px;
          p {
            color: #515151 !important;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
          }
        }
      }
    }
  }
}
