@import "assets/css/index";

// C-CSS-Start
.modal {
  padding-top: 15px !important;
  padding-right: 15px !important;
  display: block !important;
  background-color: #263b4eeb !important;
  opacity: 1 !important;

  &.left .modal-dialog,
  &.right .modal-dialog {
    position: relative;
    max-width: none !important;
    height: 100%;
    margin-top: 0;
    padding-left: 346px;
    transform: translate3d(0%, 0, 0) !important;
  }

  &.left .modal-content,
  &.right .modal-content {
    width: 550px;
    height: 100%;
    overflow-y: auto;
    border: 0;
    border-radius: 0;
  }

  &.left .modal-body,
  &.right .modal-body,
  &.left .modal-title,
  &.right .modal-title {
    padding: 15px;
  }

  &.right.fade {
    .modal-dialog {
      right: 0;
      padding-top: 0 !important;
      transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    &.in .modal-dialog {
      right: 0;
    }
  }
}

// C-CSS-End

.playlist-modal {
  right: 0;
  width: 470px;
  height: auto;
  background-color: #e5e5e5;
  h1 {
    margin: 0;
    font-family: $rubik, sans-serif;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: $curriki-main-blue;
      border-bottom: 2px solid #f8af2c;
    }

    font-size: 2rem;
    font-weight: 300;
    // color: #165399;
    text-transform: capitalize;
  }
  .close-playlist-btn {
    float: right;
    background: none;
    border: 0;
  }

  .modal-content {
    padding: 0px 40px 20px 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: 470px;
  }
  .modal-body {
    .modal-title {
      padding-left: 0%;
    }
    .playlistName {
      padding-top: 36px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #515151;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 4px 0px;
    }
  }
  .modal-footer {
    padding: 38px 0px;
    display: block;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .add-playlist-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 40px;
      border: 0;
      background: #084892;
      color: #ffffff;
      flex: none;
      order: 0;
      flex-grow: 0;
      border-radius: 20px;
      // .add-playlist-btn-text {
      //   width: 80px;
      //   height: 20px;
      //   font-style: normal;
      //   font-weight: 500;
      //   font-size: 14px;
      //   line-height: 20px;
      //   color: #ffffff;
      //   flex: none;
      //   order: 0;
      //   flex-grow: 0;
      //   margin: 0px 10px;
      // }
    }
  }
  .modal {
    padding: 0 !important;
  }
}
