.modal-dialog {
  max-width: 630px;
}
.remove-user-modal-header {
  background-color: white;
  border-bottom: 0;
}

.remove-primary {
  background-color: #084892;
  border-radius: 50px;
}

.remove-secondary {
  background-color: white;
  border-color: #084892;
  border-radius: 50px;
  color: #084892;
}

.remove-user-modal h1 {
  font-weight: 300;
  font-size: 1.5em;
}

.fa-save {
  color: #2e8df5;
  font-size: 5em;
}

.remove-user-modal {
  text-align: center;
  font-size: large;
}

.remove-user-modal .fa-exclamation {
  color: #f8af2c;
  font-size: 5em;
}

.remove-user-modal .fa-user-times {
  color: #ff403b;
  font-size: 5em;
}
