.existing-activity-card button {
  border-radius: 15px;
  background-color: #084892;
  color: white;
}

.existing-activity-card h3 {
  font-size: 1.25em;
  color: #084892;
}

.existing-activity-card h3 a {
  color: #084892;
}