@import "assets/css/index";
.curriki-image-update-util {
  .box-section {
    max-width: 550px;
    height: 320px;
    background: #f7faff;
    position: relative;
    border: 1px dashed #084892;
    border-radius: 8px;
    &:hover {
      .overlay {
        display: flex;
      }
    }
  }

  .thumbnail {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .overlay {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #084892b5;
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;

    .overlay-drag-image {
      width: 48px;
      height: 48px;
      margin-bottom: 24px;
    }

    .overlay-drag-image-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 12px;
    }

    .overlay-drag-image-or {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 12px;
      position: relative;

      &::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 25px;
        width: 68px;
        height: 0.5px;
        background-color: #ffffff;
      }
      &::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 25px;
        width: 68px;
        height: 0.5px;
        background-color: #ffffff;
      }
    }
    .overlay-drag-brows-btn {
      padding: 8px 16px;
      width: 120px;
      height: 32px;
      background: #ffffff;
      border: 1px solid #ffffff;
      box-shadow: 0px 2px 8px 1px rgba(81, 81, 81, 0.16);
      border-radius: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #084892;
    }
  }
}

.thumbnails-modal {
  z-index: 1061;
  .modal-dialog.modal-xl.modal-dialog-centered {
    max-width: 1012px !important;
  }
  .thumbnails-modal-body {
    border-radius: 16px !important;
    padding: 24px !important;
    .thumbnails-close {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 8px;
      .thumbnails-heading {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        color: #084892;
        margin: 0;
      }

      .thumb-close-button {
        cursor: pointer;
      }
    }
    .thumbnails-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #515151;
      margin-bottom: 16px;
    }

    .thumbnails-tabs {
      width: auto;
      margin-top: 0 !important;
      border: none !important;
      gap: 16px;
      margin-bottom: 16px;

      .nav-link {
        padding: 8px 16px;
        width: 140px;
        height: 32px;
        background: #ffffff;
        border: 1px solid #959595 !important;
        border-radius: 16px;
        font-weight: 400 !important;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        color: #515151;
        margin: 0 !important;
      }

      .nav-link.active {
        padding: 8px 16px;
        width: 140px;
        height: 32px;
        background: #084892;
        border: 1px solid #084892 !important;
        border-radius: 16px;
        font-weight: 400 !important;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        color: #ffffff;
        margin: 0 !important;
      }
    }
  }
}
.search-box {
  padding: 16px;
  width: 100%;
  height: 64px;
  background: #f7faff;
  border-radius: 4px;
  margin-bottom: 16px;
  display: flex;

  .thumbnails-search-pixels {
    width: 224px;
    height: 32px;
    padding: 6px 40px 6px 8px;
    border-bottom: 2px solid #084892;
    position: relative;
    input {
      width: 100%;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #084892;
      background: #f7faff;
    }
    .search-icon {
      position: absolute;
      top: 8px;
      right: 0;
      width: 24px;
      height: 24px;
    }
  }
  .smithsonian-clear {
    margin-left: 18px;
    button {
      cursor: pointer;
      background: #e5eeff;
      border-radius: 4px;
      width: 66px;
      height: 32px;
      padding: 8px 16px;
      border: none;

      // Font
      font-family: $rubik;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #084892;
    }
  }
}

.thumbnails-img-box-pexels {
  display: flex;
  max-height: 485px;
  gap: 8px;
  flex-wrap: wrap;
  overflow-y: scroll;
  .thumbnails-watermark {
    display: flex;
    align-items: center;
    position: relative;
    .thumbnails-watermark-img {
      width: 182px;
      height: 106.17px;
      border-radius: 8px;
      cursor: pointer;
    }
    span {
      position: absolute;
      bottom: 0;
      padding: 2px 8px;
      color: white;
      background-color: #084892a6;
      width: 100%;
      font-size: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    // Bg-Image
    .addvideo-card-top {
      width: 182px;
      // height: 106px;
      border-radius: 5px;
      // background-image: url("../../assets/images/cardlistimg.png");
      background-size: 100% 100%;
      position: relative;
      height: 156px;
    }
  }

  .thumbnails-loader {
    width: 50px;
    height: 15px;
    margin: 50px auto;
  }
}

.read-more-pexel {
  padding: 16px;
  width: 100%;
  height: 50px;
  background: #f7faff;
  border-radius: 4px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #084892;
  cursor: pointer;
}

.filter_smithsonian_section {
  display: flex;
  .filter_smithsonian {
    width: 174px;
  }
  .thumbnails-img-box-pexels-smithsonian {
    margin-left: 16px;
    margin-top: 16px;
  }
  .alert {
    height: 45px;
  }

  // SmithsonianFilter
  .smithsonian_filter_menu_detail {
    .refine-search {
      margin-top: 16px;

      .list-item-keys {
        padding: 5px 0px;

        span {
          // margin: 0 11px;
          margin-left: 6px;
          box-shadow: 0 0 2px #0000000d;
          opacity: 1;
          font-family: $rubik;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #515151;
          letter-spacing: 0;
          cursor: pointer;
        }

        svg.fa-square {
          color: #fff;
          border: 2px solid #084892;
          width: 18px;
          height: 18px;
        }
        svg.fa-check-square {
          border: 2px solid #084892;
          width: 18px;
          height: 18px;
          color: $curriki-main-blue;
        }
      }
      .card {
        box-shadow: 0px 1px 6px 1px rgba(8, 72, 146, 0.16);
        margin-top: 8px;
      }
      .card-header {
        padding: 14px 24px;
        background-color: #fff;
        text-align: left;
        color: $fun-blue-1;
        cursor: pointer;
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        border-bottom: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-detail-header {
        .card-header {
          padding: 0px;
        }
        width: 174px;
        padding: 10px 14px 8px 8px;
        border-radius: 4px;
      }
      .card-detail-list-options {
        position: relative;
        margin-top: 4px;
        padding: 8px 8px 8px 8px;
        border-radius: 4px;

        .card-detail-list-text-icon {
          display: flex;

          .card-detail-list-icon {
            margin-top: 4px;
          }
        }
        .card-body {
          padding: 0;
        }
        .smithList {
          max-height: 285px;
          overflow-y: scroll;
        }

        // Search box
        .card-detail-list-search-icon {
          width: 100%;
          margin-bottom: 16px;

          .card-detail-list-search {
            // width: 224px;
            height: 32px;
            padding: 6px 40px 6px 8px;
            border-bottom: 2px solid #515151;
            position: relative;

            input {
              font-family: $rubik;
              width: 100%;
              border: none;
              outline: none;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: #515151;
            }
          }
          .card-detail-list-icon {
            position: absolute;
            top: 0px;
            right: 15px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
