@import "assets/css/index";
.curriki-utility-teamproject-card {
  width: 290px;
  height: 158px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(81, 81, 81, 0.16);
  border-radius: 8px;
  //   padding: 15px;
  .teamproject-card-top {
    border-radius: 5px;
    // background-image: url("../../assets/images/cardlistimg.png");
    background-size: 100% 100%;
    position: relative;
    height: 156px;
    &:before {
      border-radius: 8px;

      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .teamproject-card-title {
      position: absolute;
      bottom: 10px;
      left: 15px;
      h2 {
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
    }
  }
  .select-project-status {
    &:before {
      background: linear-gradient(
        180deg,
        rgba(8, 72, 146, 0.8) 0%,
        rgba(8, 72, 146, 0.8) 100%
      );
    }
  }
  .noselect-project-status {
    &:before {
      background: linear-gradient(
        180deg,
        rgba(81, 81, 81, 0.2) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
  }
  .project-checkbox-select {
    position: absolute;
    right: 11px;
    top: 19px;
    z-index: 999;
    .checkbox_section {
      align-items: center;
      display: flex;
      .assign-project-radio {
        position: absolute;
        right: 0px;
        top: 0px;
        // width: 26px;
        // height: 26px;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: #fff;
        // border: 2px solid #084892;
        background: transparent;
        border: 2px solid #ffffff;
        // border-radius: 50%;
        border-radius: 4px;
   
        cursor: pointer;

        .checkmark {
          background-position: 1px 4px;
          // width: 14px;
          // height: 14px;
          width: 18px;
          height: 18px;
          background-image: url('../../assets/images/svg/tick_custome_checkoutbox_blue.svg') !important;
          background-repeat: no-repeat !important;
          background-color: #ffffff;
        // border: 2px solid #ffffff;
          // background-color: #084892;
          // box-shadow: 0 3px 6px #00000029;
          // border-radius: 50%;
          border-radius: 4px;
        }
      }
    }
  }
}
