@import 'assets/css/index';

.actions .dropdown-toggle:after {
  content: none;
}

.actions-button {
  background-color: transparent;
  color: #b5b5b5;
}

.results {
  padding-top: 2em;
  padding-bottom: 2em;
}

.back-action {
  color: $curriki-main-blue;
}

.pagination-buttons {
  border-radius: 1.5rem;
  background-color: $curriki-main-blue;
  color: white;
}
