@import "assets/css/index";

.actions .dropdown-toggle:after {
  content: none;
}

.actions-button {
  background-color: transparent;
  color: #b5b5b5;
}

.results {
  padding-bottom: 18px;
  .tab-content {
    padding: 20px 8px;
    box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
    border-radius: 4px;
  }
  .nav-tabs {
    border-bottom: 1px solid #084892;
    margin: 0 0 45px 0;
    width: 100%;
    .nav-link {
      border-radius: 3px 3px 0 0;
      font-size: 14px;
      line-height: 22px;
      // color: #fff;
      background: transparent;
      font-weight: 400;
      padding-bottom: 2px;
      margin-right: 20px;
      color: #084892;
      border: none !important;
      text-align: center;
      font-family: "Open Sans", sans-serif;
    }

    .nav-link.active {
      background: transparent;
      color: #084892;
      font-weight: 700;
      border-bottom: 4px solid #084892 !important;
      font-family: "rubic";
    }
  }
  .Playlists-container {
    margin-bottom: 12px;
    padding: 0 4px 12px;
    border-bottom: 1px solid #dddddd;
    .main-flex {
      display: flex;
      justify-content: space-between;
      .img-cont {
        display: flex;
        .Playlists-img {
          width: 80px;
          height: 50px;
          border: 1px solid #dddddd;
          border-radius: 5px;
          padding: 2px;

          & img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
        .Playlists-title {
          padding-top: 5px;
          color: #084892;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          margin-left: 10px;
        }
      }
      .ext-right {
        .dropdown {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #e5eeff;
          .dropdown-toggle::after {
            margin-left: 0;
            vertical-align: 0;
            content: "";
            border-top: none;
            border-right: none;
            border-bottom: 0;
            border-left: none;
          }

          .actions-button {
            background: #e5eeff !important;
          }
          .dropdown-menu.show {
            padding: 8px 16px;
            .dropdown-item {
              color: #084892;
              & svg {
                margin-right: 8px;
              }
            }
            .dropdown-item:hover {
              background: #f7faff !important;
            }
          }
        }
      }
    }
  }
}
.search-heading {
  width: 180px;
  color: rgb(8, 72, 146);
  border-bottom: 2.5px solid $curriki-main-yellow;
}

.back-action {
  color: $curriki-main-blue;
}

.pagination-buttons {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #084892;
  background: #e5eeff;
  border-radius: 4px;
}
