@import 'assets/css/index';

.dashboard-project-list {
    .img-col img {
        max-width: 150px;
        max-height: 150px;
    }

    .project-row{
        border-bottom: solid $curriki-main-blue 1px;
    }

    .project-row a{
        color:$curriki-main-blue;
        font: normal normal 600 16px/22px $rubik;
    }

    .project-row p {
        color:#777;
        font: normal normal 600 16px/22px $rubik;
    }

    .project-go-icon {
        font-size: xx-large;
        color: $curriki-main-blue;
    }

    .search-box {
        background-color: whitesmoke;
    }

    .search-box .header {
        background-color: $curriki-main-blue;
        font-size: x-large;
        color: white;
    }

    .search-box .header h2 {
        font-size: x-large;
    }

    .search-box input {
        display: block;
        width: 100%;
        padding: 0.5em;
    }

    .search-box button {
        border: solid $curriki-main-blue 2px;
        display: block;
        width: 100%;
    }

    .search-box button:hover {
        background-color: $curriki-main-blue;
        color: white;
    }

    .activity-card-title {
        font-size: medium;
    }

    .activity-card {
        min-height: 180px;
    }

    .activity {
        min-height: 180px;
    }

    .playlist {
        border-bottom: solid $curriki-main-blue 1px;
    }

    .playlist-title {
        color: $curriki-main-blue;
        font-size: x-large;
    }
}