@import "../../assets/css/index.scss";

.curriki-utility,
.curriki-theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 163px;
  background: $fun-blue-1;
  border: 1px solid $fun-blue-1;
  box-sizing: border-box;
  border-radius: 50px;
  color: $white;
}
.curriki-theme-primary-button {
  background: $fun-blue-1;
  border: 1px solid $fun-blue-1;
  color: $white;
}
.curriki-theme-secondary-button {
  background: $white;
  border: 1px solid $fun-blue-1;
  color: $fun-blue-1;
}
.curriki-theme-defaultgrey-button {
  background: $gray;
  border: 1px solid $gray;
  color: $white;
}
.curriki-theme-defaultwhite-button {
  background: $white;
  border: 1px solid $gray;
  color: $gray;
}
.curriki_btn-mr-2 {
  margin-right: 10px;
}
.curriki-theme-hover:hover {
  background-color: $curriki-main-blue;
  color: $white;
}
