@import '../../assets/css/index.scss';

.curriki-utility,
.curriki-theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
  padding: 0 15px;
  background: $fun-blue-1;
  border: 1px solid $fun-blue-1;
  box-sizing: border-box;
  border-radius: 50px;
  color: $white;
}
.curriki-theme-primary-button {
  background: $fun-blue-1;
  border: 1px solid $fun-blue-1;
  color: $white;
  // .btn-icon {
  //   color: $curriki-main-yellow;
  // }
}
.curriki-theme-secondary-button {
  background: $white;
  border: 1px solid $fun-blue-1;
  color: $fun-blue-1;
}
.curriki-theme-defaultgrey-button {
  background-color: $gray;
  border: 1px solid $gray;
  color: $white;
}

button.curriki-theme-defaultgrey-button {
  background-color: $gray !important;
  border: 1px solid $gray !important;
  color: $white;
}
.curriki-theme-defaultwhite-button {
  background: $white;
  border: 1px solid $gray;
  color: $gray;
}
.curriki_btn-mr-2 {
  margin-right: 10px;
}
.curriki-theme-hover:hover {
  background-color: $curriki-main-blue;
  color: $white;
}
