@import "assets/css/index";
.curriki-utility-uploadimageV2 {
  h3 {
    font-family: $rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $curriki-main-blue;
  }
  .uploadimage-box {
    @media screen and (max-width: 1024px) {
      width: 300px;
    }
    max-width: 452px;
    height: 128px;
    background: #f1f1f1;
    border-radius: 10px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .uploadimage-option {
    margin-top: 20px;
    display: flex;
    @media screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    button {
      width: 213px;
      height: 45px;
      padding: 13px;
      border-radius: 5px;
      text-align: center;
      border: 1px solid #515151;
      background-color: $white;
      color: #515151;
      border-radius: 25px;
      &:hover {
        background-color: $curriki-main-blue;
        color: $white;
      }
    }
    .btn-mr-27 {
      margin-right: 27px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }
    }
    .upload-option-icons {
      cursor: pointer;
    }
    .mr-20 {
      margin-left: 20px;
    }
  }
}
