@import "assets/css/index";
* {
  padding: 0;
  margin: 0;
}
.myactivity {
  .inner-content {
    background: $white;
    padding: 30px;
    margin: 13px 39px 81px 29px;
    border-radius: 3px;
    @media screen and (max-width: 1024px) {
      margin: 13px 20px 81px 20px;
    }

    .topHeadingBtn {
      display: flex;
      justify-content: space-between;
      .topBtn {
        display: flex;
        align-items: flex-end;
      }
    }
    .topDescription {
      margin-top: 21px;
      border-bottom: 1px solid $gray;
    }
    .activityTitle {
      width: max-content;
      margin-top: 33px;
    }
    .activityBlocks {
      display: flex;
      margin-top: 64px;
      .blockBody {
        width: 485px;
        height: 255px;
        border-radius: 5px;
        background-color: #f1f1f1;
        .blockBody-detail {
          margin-top: 70px;
          margin-right: 28px;
          margin-left: 195px;

          .mb-20 {
            margin-bottom: 20px;
          }
          .mb-13 {
            margin-bottom: 13px;
          }
          @media screen and (max-width: 1024px) {
            margin-left: 15px;
          }
        }
        .blockBody-text {
          @media screen and (max-width: 1024px) {
            margin-left: 15px;
          }
          margin-top: 119px;
          margin-left: 172px;
        }
      }
      .ml-54 {
        margin-left: 54px;
      }
    }
    .activity-cards-show {
      margin-top: 18px;
      .activity-cards-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-textfield {
          display: flex;
          width: 313px;
          height: 35px;
          background: #ffffff;
          border-radius: 30px;
          border: 1px solid $curriki-main-blue;
          padding: 9px 20px;
          input {
            width: 100%;
            border: none;
            outline: none;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
          }
        }
        .search-filter {
          margin-left: -120px;
        }
        .create-project-portion {
          margin-right: 74px;
          .project-portion-icon {
            margin-right: 18px;
          }
        }
      }
      .search-filter-form {
        height: 116px;
        background-color: #f1f1f1;
        border-radius: 8px;
        margin-top: 16px;
        form {
          .sort-filter-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            .sortby {
              select {
                margin-left: 8px;
                width: 170px;
                height: 36px;
                background: #ffffff;
                border: 1px solid #515151;
                box-sizing: border-box;
                border-radius: 4px;
              }
            }
          }
          .filter-form-radio {
            padding: 16px;
            display: flex;
            label {
              display: flex;
              align-items: center;
              input {
                margin-right: 11px;
              }
            }
            .ml-35 {
              margin-left: 35px;
            }
          }
        }
      }
      .activity-cards-box {
        margin-top: 36px;
        display: flex;
        .ml-102 {
          margin-left: 102px;
          @media screen and (max-width: 1024px) {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .primary-color {
    color: $curriki-main-blue;
  }
}
.form-new-popup-activity {
  position: fixed;
  background: #0848928f;
  top: 0;
  width: 100%;
  z-index: 1060;
  height: 100%;
  overflow-y: auto;
  padding-left: 285px;
  .cross-all-pop {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 28px;
    cursor: pointer;
  }
  .inner-form-content {
    background: #fff;
    opacity: 1;
    width: 100%;
    height: 180vh;
    padding: 50px;
  }
}
.create-form-activity {
  .activityHeading {
    width: 350px;
    margin: 40px auto 0 auto;
    .headingText {
      text-align: center;
    }
  }
  .createActivity-layoutCard {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    .layoutCard {
      box-shadow: 0px 4px 12px rgba(81, 81, 81, 0.16);
      padding: 32px 20px;
      width: 320px;
      height: 241px;
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        border-bottom: 5px solid $crusta;
      }
      .mb-16 {
        margin-bottom: 16px;
      }
    }
    .ml-40 {
      margin-left: 40px;
    }
  }
  .layoutCard-active {
    border-bottom: 5px solid $crusta;
  }
  .createActivity-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 134px;
  }
}

.activity-layout-form {
  padding: 0 50px;
  .activity-layout-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    .ml-10 {
      margin-left: 10px;
    }
    .mt-10 {
      margin-top: 15px;
    }
  }
  .activity-layout-title {
    margin-top: 50px;
    width: 480px;
  }
  .activity-layout-detail {
    margin-top: 10px;
    // margin-right: 100px;
    // width: 970px;
  }
  .activity-layout-cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    .ml-30 {
      margin-left: 30px;
    }
    .activity-layoutCard-active {
      border-bottom: 5px solid $crusta;
    }
  }
  .activity-layout-process-box {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 130px;
    margin-top: 52px;
  }
  .activity-layout-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}

.add-activity-form {
  padding: 0 50px;
  .layout-colums-box {
    margin-top: 22px;
    background-color: #dddddd;

    border-radius: 5px;
    padding: 10px 15px 15px 15px;
    .box-title {
      margin-top: 15px;
      h3 {
        font-size: 18px;
        line-height: 21px;
      }
    }
    .layout-colums-inner-box {
      margin-top: 30px;

      min-height: 200px;
      background-color: $white;

      .laravel-h5p-upload {
        height: 240px;
        background: transparent;
        border: 3px dashed #ddd;
        border-radius: 10px;
        margin-top: 15px;
      }
      .drop-area {
        position: relative;

        .upload-holder {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          font: normal normal normal 16px/22px $rubik;
          letter-spacing: 0px;
          color: #5a5a5a;
          z-index: 1;

          svg {
            color: #084892;
            font-size: 30px;
            margin-bottom: 15px;
          }

          span {
            font: normal normal normal 16px/22px $rubik;
            letter-spacing: 0px;
            color: #084892;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
  .add-activity-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    .ml-10 {
      margin-left: 10px;
    }
    .mt-10 {
      margin-top: 15px;
    }
  }
  .add-activity-title {
    margin-top: 50px;
    width: max-content;
  }
  .add-activity-layout-formik-videoTag {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .add-activity-layout-formik {
      @media screen and (max-width: 1024px) {
        width: 400px;
      }
      width: 500px;
      .layout-formik-radioBtn {
        margin-top: 38px;
        .radioBtns {
          display: flex;
          align-items: center;
          .formik-radioBtn {
            margin-right: 60px;
            label {
              // border: 1px solid red;
              display: flex;
              align-items: center;
              input {
                margin-right: 5px;
                // display: none;
                // &:checked + span {
                //   background-color: $alert;
                //   background-image: url("../../assets/images/svg/tick.svg");
                //   background-repeat: no-repeat;
                //   background-size: 71% 71%;
                //   background-position: center;
                // }
              }
              span {
                display: inline-block;
                height: 20px;
                width: 20px;
                border: 1px solid $gray;
                border-radius: 50%;
                margin-right: 16px;
              }
            }
          }
        }
      }
      .layout-title-formik-textField {
        margin-top: 39px;
        .textField-title {
          h3 {
            font-size: 18px;
            line-height: 21px;
          }
        }
        .textField-detailText {
          p {
            font-size: 12px;
            line-height: 16px;
          }
        }
        input {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          outline: none;
          border: 1px solid $white;
          box-shadow: 0px 0px 4px $curriki-main-blue;
          text-indent: 10px;
        }
      }
    }
    .add-activity-layout-videoTag {
      @media screen and (max-width: 1024px) {
        margin-left: 10px;
      }

      margin-left: 20px;
      .videoTag {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          @media screen and (max-width: 1024px) {
            width: 300px;
            height: 180px;
          }
          width: 369px;
          height: 213px;
        }
        .videoTag-link {
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
  .add-activity-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}

.preview-layout-form {
  // padding: 0 50px;
  .preview-layout-back {
    .back-link {
      color: $curriki-main-blue;
      .icon-link {
        margin-right: 10px;
        font-size: 12px;
      }
    }
  }
  .preview-layout-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    .ml-10 {
      margin-left: 10px;
    }
    .mt-10 {
      margin-top: 15px;
    }
  }
  .preview-layout-card-project {
    display: flex;
    .preview-layout-dialogcard {
      border-right: 1px solid #dddddd;
      height: 100vh;
      width: 650px;
      .dialogcard-subtitle {
        margin-top: 15px;
        .subtitle-text {
          p {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
      .dialogcard-title {
        margin-top: 15px;
        .title-heading {
          h2 {
            border: none;
          }
        }
        .sub-heading {
          h3 {
            font-size: 18px;
            line-height: 21px;
          }
        }
      }
      .detail-dialogcard {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-actvity {
          width: 400px;
          padding: 10px;
          box-shadow: 0px 4px 12px rgba(81, 81, 81, 0.16);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .card-actvity-icon {
            background-color: $curriki-main-blue;
            color: $white;
            border-radius: 50%;
            margin-top: 10px;
            width: 30px;
            height: 30px;
            padding: 5px;
          }
          .card-actvity-title {
            margin-top: 15px;
          }
          .card-actvity-btn {
            margin-top: 70px;
          }
        }
      }
      .card-pagination {
        margin: 16px auto 0 auto;
        width: 400px;
        // margin-top: 16px;
        display: flex;
        justify-content: space-between;
        .pagination-text {
          width: 60%;
          display: flex;
          justify-content: flex-end;
        }
        .pagination-icon {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .icon-next {
            background-color: $curriki-main-blue;
            color: $white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 5px;
          }
        }
      }
    }
    .preview-layout-project {
      width: 352px;
      padding-left: 30px;
      .project-title-link {
        display: flex;
        justify-content: space-between;
        .project-title {
          margin-top: 30px;
          .project-heading {
            h2 {
              border: none;
            }
          }
          .playlist-heading {
            margin-top: 37px;
            h2 {
              border: none;
            }
          }
        }
        .project-link {
          margin-top: 30px;
          .get-link {
            color: $curriki-main-blue;
            .icon-link {
              margin-right: 10px;
              font-size: 12px;
            }
          }
        }
      }
      .dialog-card-box {
        margin-top: 50px;

        display: flex;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid $crusta;
        .ml-15 {
          margin-left: 15px;
        }
      }
      .add-more-activity {
        margin-top: 53px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .more-activity-icon {
          margin-bottom: 16px;
          color: $curriki-main-blue;
        }
        .more-activity-link {
          color: $curriki-main-blue;
        }
      }
      .project-link-button {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .edit-link {
          color: $curriki-main-blue;
        }
      }
    }
  }
}
