@import 'assets/css/index';

.search-form {
  margin: 16px 0 24px;
  padding: 8px 16px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
  border-radius: 4px;

  & p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #767676;
    margin-bottom: 4px !important;
  }

  .form-group {
    & label {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #767676;
      margin-bottom: 4px !important;
    }
    .form-control {
      .option {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #959595;
      }
    }
    .Author-input {
      position: relative;
      & img {
        position: absolute;
        right: 8px;
        top: 10px;
        width: 28px;
        height: 16px;
      }
    }
  }
}

.search-form h2 {
  color: #2a2a2a;
  font-size: 1.35rem;
}

.search-btn {
  width: 85px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5eeff;
  border-radius: 4px;
  margin: 24px 0 15px auto;
  padding: 6px 8px;
  .search-submit-button {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    background: #e5eeff;
    color: #2e68bf;
    padding: 0 !important;
  }
  & img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
