@import 'assets/css/index';

.search-form {
  padding-top: 2em;
  padding-bottom: 2em;
}

.search-form h2 {
  color: #2a2a2a;
  font-size: 1.35rem;
}

.search-submit-button {
  border-radius: 1.5rem;
  background-color: $curriki-main-blue;
}
