@import "assets/css/index";
.curriki-utility-inputtextfield {
  height: 40px;
  text-indent: 10px;
  outline: none;
  // box-shadow: 0px 0px 4px rgba(8, 72, 146, 0.4);
  background: #ffffff;
  border: 1px solid #515151;
  border-radius: 4px;
}
