@import "assets/css/index";
.curriki-utility-inputtextfield {
  height: 40px;
  text-indent: 10px;
  background: #ffffff;
  outline: none;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 4px rgba(8, 72, 146, 0.4);
  border-radius: 5px;
}
