@import 'assets/css/index';

.immersiveReaderViewer {
    color:black;
    padding: 2em;
    text-align: center;
}

.immersiveReaderViewer h1 {
    font-size: x-large;
    font-weight: bold;
}

.immersiveReaderViewer button {
    margin: 1em;
    background-color: cornflowerblue;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.immersiveReaderViewer div {
    text-align: left;
}