@import "assets/css/index";
// C-CSS-Start
.modal {
  padding-top: 15px !important;
  padding-right: 15px !important;
  display: block !important;
  background-color: #263b4eeb !important;
  opacity: 1 !important;

  &.left .modal-dialog,
  &.right .modal-dialog {
    position: relative;
    max-width: none !important;
    height: 100%;
    margin-top: 0;
    padding-left: 346px;
    transform: translate3d(0%, 0, 0) !important;
  }

  &.left .modal-content,
  &.right .modal-content {
    width: 550px;
    height: 100%;
    overflow-y: auto;
    border: 0;
    border-radius: 0;
  }

  &.left .modal-body,
  &.right .modal-body,
  &.left .modal-title,
  &.right .modal-title {
    padding: 15px;
  }

  &.right.fade {
    .modal-dialog {
      right: 0;
      padding-top: 0 !important;
      transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    &.in .modal-dialog {
      right: 0;
    }
  }
}

.modal-header {
  background-color: #fafafa;
  border-bottom-color: #eeeeee;
}
// C-CSS-End
// .side-wrapper-team {
//   position: fixed;
//   padding-left: 350px;
//   width: 100%;

//   padding-right: 60px;
//   // padding-bottom: 100px;
//   border-right: 1px solid #dcdcdc;
//   z-index: 1000;
//   .collapse-button {
//     position: absolute;
//     top: 16px;
//     right: 0;
//     padding: 6px 15px;
//     background: #cbcbcb;
//     border-radius: 20px 0 0 20px;

//     &:hover {
//       background: #999999;
//       cursor: pointer;
//     }
//   }

//   .bread-crumb {
//     .main-flex-top {
//       display: flex;
//     }
//     top: 0;
//     left: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     // width: calc(140vw);
//     width: 100%;
//     padding: 21px 0px 11px 0px;
//     background-color: #eee;
//     border-bottom: solid 1px #cbcbcb;

//     span {
//       margin: 0 8px;
//       font-size: 12px;
//       text-transform: capitalize;

//       &.parent {
//         color: #5250c1;
//         text-decoration: underline;
//       }
//     }

//     svg {
//       //margin: 0 10px 0 22px;
//       margin: 0 13px 0 17px;
//     }
//   }
//   .back-button-main-page {
//     width: fit-content;
//     padding: 8px 15px 9px 0px;

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: #084892;
//     border-color: #084892;
//     border-radius: 20px;
//     font-size: 14px;
//     text-align: center;
//     color: #ffffff;
//     cursor: pointer;

//     .fa {
//       margin-right: 5px;
//       -webkit-text-stroke: 1px #084892;
//     }

//     &:disabled {
//       opacity: 0.6;
//     }
//   }
// }

.teams-page {
  .flex-button-top {
    display: flex;
    a {
      margin-left: 20px;
    }
  }
  .organization-name {
    position: static;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $fun-blue-1;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
  }
  .title-team {
    font-family: $rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #084892;
    margin-bottom: 16px !important;
  }

  .dashboard-panel {
    background: white;
    border-radius: 8px;
  }

  .dashboard-panel-header-row {
    border-left: solid 5px #084892;
  }

  // .btn {
  //   background-color: mediumaquamarine;
  //   border-color: mediumaquamarine;
  // }

  // label {
  //   font-weight: bold;
  //   margin-right: 0.5em;
  //   margin-bottom: 0.3em;
  // }

  .offer-panel {
    border: solid 3px #084892;
  }

  .metrics-counters span {
    display: block;
    color: cadetblue;
    font-weight: bold;
    font-size: xx-large;
  }

  .content {
    position: relative;
    overflow: visible;
    padding: 16px 24px;
    margin-left: 136px !important;
    margin-top: 0px !important;
    .team-row {
      display: flex;
      flex-wrap: wrap;
    }
    .inner-content {
      padding: 16px 24px;
      min-height: 600px;
      background: #ffffff;
    }
    .overview {
      display: flex;
      flex-wrap: wrap;
    }

    .sub-content {
      background: #fff;
      padding: 71px 20px 100px 47px;
    }
  }

  .btn-top-page {
    // position: absolute;
    margin-top: 15px;
    top: 1em;
    right: 0;
    width: -moz-fit-content;
    height: 35px;
    margin-bottom: 10px;
    padding: 3px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #084892;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    svg {
      color: #f8af2c;
      margin-right: 8px;
    }
    .fa {
      padding-right: 5px;
    }
  }
  .team-controller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 64px;
    background: #f7faff;
    border-radius: 4px;
    margin-bottom: 16px;
    .search-and-filters {
      display: flex;
      justify-content: space-between;
      .search-bar {
        position: relative;
        input {
          margin-right: 39.17px;
          max-width: 358px;
          min-width: 258px;
          border: none;
          background: none;
          border-bottom: 2px solid #084892;
          &::placeholder {
            color: $fun-blue-1;
          }
        }
        img {
          position: absolute;
          right: 40px;
          bottom: 4px;
        }
        svg {
          position: absolute;
          right: 40px;
          bottom: 4px;
        }
      }
      .filter {
        color: $fun-blue-1;
        img {
          margin-right: 8px;
        }
      }
    }
  }
}

.swal2-html-container ul {
  font-weight: normal;
  list-style: circle;
  text-align: initial;
}
.alert-space {
  width: 100%;
}
