@import "assets/css/index";

// C-CSS-Start
.swal2-title {
  font-size: 24px !important;
  font-weight: 300 !important;
  display: block !important;
  color: #084892;
}

.swal2-html-container {
  color: #084892;
  font-size: 16px !important;
  p {
    font-weight: 400 !important;
  }
}

.swal2-actions {
  button.swal2-confirm {
    order: 1;
    background-color: #084870;
    border: 2px solid #08487d !important;
  }
  button {
    border-radius: 24px !important;
    min-width: 165px;
  }
  button.swal2-cancel {
    border: 2px solid #08487d !important;
    background-color: #ffffff !important;
    color: #08487d !important;
  }
  button.swal2-deny {
    border: 2px solid #08487d !important;
    background-color: #ffffff !important;
    color: #08487d !important;
  }
  .order-1 {
    order: 3;
  }
  .order-2 {
    order: 2 !important;
  }
  .order-3 {
    order: 1;
  }
}
// C-CSS-End

.inner-content {
  background: $white;
  // padding: 32px;
  margin-top: 0px;
  border-radius: 3px;
}

.width10 {
  width: 7% !important;
}
.width90 {
  width: 93% !important;
}
.none {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.image_rotate {
  transform: rotate(180deg) !important;
}
.team-project-page {
  .content {
    position: relative;
    overflow: visible;
    padding: 16px 24px;
    margin-left: 136px !important;
    margin-top: 0px !important;
    .team-row {
      display: flex;
      flex-wrap: wrap;
    }
    .inner-content {
      padding: 16px 24px;
      min-height: 600px;
      background: #ffffff;
    }
    .overview {
      display: flex;
      flex-wrap: wrap;
    }

    .sub-content {
      background: #fff;
      padding: 71px 20px 100px 47px;
    }
  }
}
// Add Team Projects Style
.add-team-projects {
  // padding: 16px 24px;
  // margin-left: 136px !important;
  // margin-top: 0 !important;
  .team-projects-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back-to-section {
      cursor: pointer;
      .back-icon {
        color: #084892;
        margin-right: 18px;
      }
      span {
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #084892;
      }
    }
  }

  .organization-name {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $fun-blue-1;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
  }
  .title-image {
    display: flex;
    .title {
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #084892;
    }
    .editimage-tag {
      margin-left: 30px;
    }
  }
  .project-tabs {
    margin-top: 16px;
    .main-tabs .nav-item {
      background-color: $fun-blue-1 !important;
      color: $white !important;
      width: 160px;
      height: 36px;
      padding: 8px 0px 8px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500 !important;
      margin-right: 8px;
      border: 1px solid $fun-blue-1;
    }

    .main-tabs .nav-item.active {
      background-color: $white !important;
      color: $fun-blue-1 !important;
      border-bottom: #fff !important;
    }
    .main-tabs .nav-item.active:after {
      display: none !important;
    }
  }
  .flex-button-top {
    display: flex;
    margin-top: 24px;
    .team-controller {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      width: 100%;
      height: 64px;
      background: #f7faff;
      border-radius: 4px;
      // margin-bottom: 16px;
      .search-and-filters {
        display: flex;
        justify-content: space-between;
        .search-bar {
          position: relative;
          input {
            margin-right: 39.17px;
            width: 321px;
            border: none;
            background: none;
            border-bottom: 2px solid #084892;
            &::placeholder {
              color: $fun-blue-1;
            }
          }
          svg {
            position: absolute;
            right: 40px;
            bottom: 4px;
          }
        }
      }
    }

    .team-project-btns {
      display: flex;
      align-items: center;
      .mr-16 {
        margin-right: 16px;
      }
      .project-selection {
        margin-right: 16px;
        p {
          font-family: $rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #2e68bf;
          margin-bottom: 0 !important;
        }
      }
      button {
        .fa-plus {
          color: #f8af2c;
        }
      }
    }
  }
  .list-of-team-projects {
    display: flex;
    flex-wrap: wrap;
    .alert {
      width: 100%;
    }
    .mrt {
      margin-top: 16px;
      margin-right: 16px;
    }
  }
}
