.create-user-modal-header {
  background-color: white;
  border-bottom: 0;
}

.create-user-modal-header .modal-title{
  color: #084892;
  text-decoration: underline #F8AF2C;
}

.create-user-done {
  text-align: center;
  font-size: 3em;
}

.create-user-done .fa-check-circle {
  color: #12B347; 
}

.create-user-done h1 {
  color: #084892;
  font-weight: 300;
}

.create-user-done .btn-primary {
  background-color: #084892;
  border-radius: 50px;
}