.create-user-modal-header {
  background-color: white;
  border-bottom: 0;
}

.create-user-modal-header .modal-title {
  color: #161513;
  text-decoration: underline #f8af2c;
}

.create-user-done {
  text-align: center;
  font-size: 3em;
}

.create-user-done .fa-check-circle {
  color: #12b347;
}

.create-user-done h1 {
  color: #084892;
  font-weight: 300;
}

.create-user-done .btn-primary {
  background-color: #312d2a;
  border-radius: 50px;
}

input:read-only {
  background-color: aliceblue;
}
