// nav

.project-share-preview-nav {
  height: 64px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 12px 2px rgba(81, 81, 81, 0.16);
  display: flex;
  align-items: center;
  padding-left: 24px;

  @media (max-width: 767px) {
    height: 48px;
  }

  img {
    width: 105.63px;

    @media (max-width: 767px) {
      width: 54.63px;
    }
  }
}

.project-share-preview {
  max-width: 1440px;
  margin: 16px auto;
  padding: 24px;
  background: #ffffff;
  @media (max-width: 767px) {
    margin: 0 auto;
    padding: 0px;
  }

  // meta data
  .project-meta-data {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
    @media (max-width: 767px) {
      flex-direction: column;
      padding-bottom: 8px;
    }

    .project-thumbnail {
      width: 240px;
      height: 135.2px;
      margin-right: 16px;
      border-radius: 4px;
      height: 135.2px;
      background-size: cover;
      background-position: center;
      @media (max-width: 767px) {
        border-radius: 0px;
        width: 100%;
        height: 200px;
      }
    }

    h1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #084892;
      margin-bottom: 16px;
      @media (max-width: 767px) {
        padding: 16px;
        padding-bottom: 0px;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #515151;
      margin-bottom: 0px;
      max-width: 640px;
      @media (max-width: 767px) {
        padding: 0px 16px;
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  // all playlist

  .all-shared-playlist {
    padding-top: 24px;
    @media (max-width: 767px) {
      padding: 16px;
    }
    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 28px;
      border-bottom: 2px solid #f8af2c;
      color: #084892;
      width: fit-content;
      padding-bottom: 3px;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 1px;
        margin-bottom: 8px;
      }
    }

    .accoridion-playlist {
      .slick-prev::before,
      .slick-next::before {
        color: #f8af2c;
      }
      .activity-slider-button {
        font-family: 'rubic';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        border: none;
        color: #084892;
        padding-bottom: 18px;
        border-bottom: 1px solid #ddd;
        width: 100%;
        text-align: left;
        margin-bottom: 12px;
        background: #ffffff;
        svg {
          margin-right: 12px;
        }
        svg.mobile {
          display: none;
        }

        + .preview-activity-style {
          display: none;
        }
        @media (max-width: 767px) {
          border: 1px solid #dddddd;
          box-sizing: border-box;
          border-radius: 4px;
          display: flex;
          align-items: center;
          padding-bottom: 0px;
          padding-left: 8px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          font-weight: 400;
          box-shadow: 0px 1px 6px 1px rgba(8, 72, 146, 0.16);
          border-radius: 4px;
          margin-bottom: 4px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          svg {
            display: none;
          }
          svg.mobile {
            display: block;
          }
        }
      }
      .activity-slider-button.active {
        + .preview-activity-style {
          display: block;
        }
      }

      @media (max-width: 767px) {
        ul {
          width: 100%;
          display: block;
          margin-bottom: 0;

          .plydet {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 16px;

            color: #767676;
          }
        }
      }
    }
  }
}
