@import "assets/css/index";

// C-CSS-Start
.sce_cont .bar_list.flex-div,
.sce_cont .bar_list.flex-div li {
  width: 100%;
  margin-bottom: 0;
}
.sce_cont .title_lg.check {
  display: flex;
  justify-content: space-between;
}

.sce_cont .go-back-button-preview {
  // background-color: $fun-blue-1;
  display: block;
  color: rgb(127, 127, 127);
  width: fit-content;
  min-width: 190px;
  border-radius: 20px;
  text-align: end;
  font-size: 14px;
  padding: 3px 3px;
  margin-bottom: 10px;
  @media screen and (min-width: 980px) {
    padding: 3px 3px !important;
  }

  .fa {
    padding-right: 5px;
  }
}

.shared-link {
  font-size: 14px;
  padding-left: 8px;
  padding-top: 10px;
  cursor: pointer;

  i {
    padding-right: 12px;
  }
}
.sce_cont .go-back-button-preview {
  margin-bottom: 0;
}

.title-md {
  font-size: 22px;
  color: #21448e;
  font-family: $rubik, sans-serif;
  font-weight: 600;
  line-height: 100%;
  padding-bottom: 18px;
  position: relative;
}

.all-playlist {
  margin-bottom: 70px;
}

#custom_accordion {
  margin-top: 0 !important;

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: auto;
  }

  .slick-prev {
    background: #ffffff 0 0 no-repeat padding-box;
    //box-shadow: 1px 1px 5px 0 #000000;
    border-radius: 50%;
    left: -11px;
    border: 1px solid #ccc;
    width: 22px;
    height: 22px;
    z-index: 1;
    overflow: hidden;

    &:before {
      //content: "\f053";
      display: block;
      margin-left: -2px;
      //font-family: FontAwesome;
      font-size: 24px;
      text-align: center;
      color: #333;
    }
  }

  .slick-track {
    margin: initial;
  }

  .slick-next {
    background: #ffffff 0 0 no-repeat padding-box;
    //box-shadow: 1px 1px 5px 0 #000000;
    border-radius: 50%;
    right: -15px;
    border: 1px solid #ccc;
    width: 22px;
    height: 22px;
    overflow: hidden;

    &:before {
      //content: "\f054";
      display: block;
      margin-left: -2px;
      //font-family: FontAwesome;
      font-size: 24px;
      color: #333;
      text-align: center;
    }
  }

  .slick-prev {
  }

  .panel {
    padding: 8px 20px 30px 0;
    display: none;
    background-color: white;
    overflow-x: hidden;

    .slick-list {
      overflow: visible;

      .resource-dropdown {
        position: absolute;
        top: 0;
        right: 5px;
        box-shadow: 0 0 1px 1px #ddd !important;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 5px !important;
        background-color: #fff;

        button {
          padding: 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.all-playlist.check-custom {
  .check-each {
    border-bottom: 1px solid #efefef;
  }

  li {
    position: relative;
  }

  .accordion {
    background-color: #fff;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    color: #084892;
    opacity: 1;
    border: none;
    text-transform: capitalize;
    padding: 0 0 18px;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
    // margin: 30px 0 32px;

    .svg-inline--fa {
      margin-right: 16px !important;
    }

    @media (max-width: 767px) {
      font-weight: 500;
      font-size: 15px;
    }
  }

  .accordion.active + .panel {
    display: block !important;
  }

  .accordion.active i::before {
    content: "\f068";
  }

  .accordion a {
    float: right;
    text-align: left;
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
    color: #5952c6;
    opacity: 1;

    i {
      padding-left: 5px;

      &:before {
        content: "\f054" !important;
      }
    }
  }

  .slick-list {
    margin: 0 -5px;
  }

  .slick-slide > div {
    padding: 0 5px;
    height: 100%;
  }

  li {
    border: 1px solid #ececec;
    border-radius: 3px;
    list-style-type: none;
  }

  .playimg {
    height: 100px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .plydet {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: $rubik "sans-serif";
    box-shadow: 0 0 0 transparent;
    letter-spacing: 0;
    color: $mine-shaft;
    opacity: 1;
    border: none;
    text-transform: capitalize;
    padding: 12px 16.02px;
  }
}

// C-CSS-End

/* CSS FOR PRoduct TOP */
.inner_body .container {
  max-width: 1521px;
  // margin: 0 auto;
  padding: 0 15px;
}
.inner-playlist {
  margin-top: 32px;
  width: 100%;
}
.slick-slide {
  width: 250px !important;
  margin-right: 24px !important;
}
.scene-playlist {
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-bottom: 25px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  //margin-right: 50px;
  background-color: #fff;
}

.scene {
  // padding: 32px;
  // margin-bottom: 25px;
  // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  // //margin-right: 50px;
  // background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 2px solid #dddddd;
  .scene-project-name-description {
    width: 400px;
    margin-left: 32px;
    margin-right: 24px;
    div {
      margin-top: 16px;
    }
  }

  .img-project-preview {
    background-size: cover !important;
    width: 100%;
    height: 190px;
    background-repeat: no-repeat !important;
    background-position: top !important;
  }

  .expandiv {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    font-family: sans-serif;
    color: #515151;
    padding-top: 16px;
  }
}
// shared-preview-custom css

.shared-preview-custom {
  display: flex;
  justify-content: start;
  background: #fff;
  padding: 16px;
  .shared-preview-custom-cont {
    margin-left: 16px;
  }
}

.shared-preview-custom-playlist {
  background: #fff;
  padding: 24px 16px;
}

.check-each {
  position: relative;
  // .playlist-title-btn-resource {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
  .accordion-update {
    color: $curriki-main-blue !important;
    border-bottom: 2px solid #efefef !important;
  }
  .playlist-dropdown {
    position: absolute;
    top: -8px;
    right: 0;
    box-shadow: 0 0 1px 1px #ddd !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;

    li {
      min-height: auto;
      border: none;
      box-shadow: 0 0 0 0 transparent;
    }
  }
}

img {
  max-width: 100%;
}

.playimg {
  /* height: 100%; */
  width: 100%;
  text-align: center;
}

.project-title {
  margin-top: 0 !important;
}
.scene-img {
  position: relative;
  overflow: hidden;
  // height: 100%;
  // width: 290px;
  height: 150px;
  width: 250px;
  flex-shrink: 0;
  // margin-top: 16px;
  border-radius: 8px !important;

  > a {
    display: block;
    text-align: center;
  }
}

.sce_cont {
  // width: calc(100% - 290px);
  // padding: 10px 20px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .configuration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 135px;

    .config-content {
      display: flex;
      align-items: center;

      .go-back-button-preview {
        font-family: "Open Sans";
        font-weight: normal;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #084892;
      }
    }

    .configuration-shareproject-link {
      display: flex;
      .share-button-update {
        span {
          margin-left: 10px;
          margin-right: 14px;
          text-transform: none !important;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #515151;
        }
        .react-switch-bg {
          background: #ffca70 !important;
          height: 18px !important;
          div {
            display: none;
          }
        }
        .react-switch-handle {
          background: #f8af2c !important;
          border: none !important;
          top: -4px !important;
        }
      }
      .configuration-button-preview {
        @media screen and (max-width: 1024px) {
          width: 182px;
        }
        padding: 11px;
        width: 152px;
        height: 36px;
        background: #084892;
        box-shadow: 0px 2px 6px 1px rgba(8, 72, 146, 0.16);
        border-radius: 18px;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-transform: none !important;
      }
    }
    .shared-link {
      font-family: "Open Sans" !important;
      font-weight: normal;
      font-size: 16px !important;
      line-height: 20px !important;
      margin-top: 98px;
      text-align: end;
      color: #084892 !important;
    }
    .project-dropdown {
      justify-content: flex-end;
      margin-bottom: 5px;
    }

    .project-dropdown-btn {
      box-shadow: 0 0 1px 1px #ddd !important;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding: 0 !important;
    }
  }
}

.usrcmt i {
  color: #607a9b;
  font-size: 12px;
  margin-right: 5px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 980px) {
    flex-wrap: nowrap !important;
  }
}

.title_lg {
  display: flex;
  font-size: 24px;
  font-family: $rubik, sans-serif;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  color: $curriki-main-blue;
  opacity: 1;
  text-transform: capitalize;

  .googleSign {
    background: #fff;
    font-size: 12px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px 1px #ccc;
    padding: 2px 15px;
    border-radius: 30px;
    cursor: pointer;
  }

  &.check {
    display: flex;
    align-items: center;

    .w3-border {
      width: 206px;
      height: 28px;
      background: #ffffff 0 0 no-repeat padding-box;
      border: 1px solid #d9d9d9;
      border-radius: 70px;
      opacity: 1;
      text-align: left;
      font-weight: Bold;
      font-size: 12px;
      align-items: center;
      letter-spacing: 0;
      color: #ffffff;
      margin-left: 30px;
    }

    .w3-grey {
      background-color: #5952c6;
      border: 1px solid #5952c6;
      text-align: center;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
  }
}

.bar_list li {
  // padding-right: 15px;

  &:last-child {
    padding-right: 0;
  }
}

.bar {
  width: 206px;
}

.progress_bar {
  width: 35%;

  font-size: 12px;
  color: #fff;
  line-height: 100%;
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 8px 0;
  background: linear-gradient(
    135deg,
    rgba(38, 143, 198, 0.87) 0%,
    rgba(38, 143, 198, 1) 4%,
    rgba(42, 150, 192, 1) 96%,
    rgba(42, 150, 192, 0.82) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de268fc6', endColorstr='#d12a96c0', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.progress_div {
  width: 65%;
  border: 1px solid #d9d9d9;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #fff;
}

.rating {
  margin-bottom: 15px;
  width: 100%;

  li {
    padding-right: 4px;

    &:not(:last-child) i {
      font-size: 14px;
      color: #ffdf10;
    }

    &:last-child i {
      font-size: 14px;
      color: #ced2d8;
    }
  }
}

.collapse-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.usrcmt {
  border: 1px solid #d9d9d9;
  padding: 1px 10px;
  border-radius: 30px;
  height: 28px;
  font-size: 12px;
  color: #343434;
  font-family: $rubik, sans-serif;
  font-weight: 600;

  img {
    margin-right: 5px;
  }
}

/* CSS FOR PLAYLIST */
.playlist-div {
  // margin-top: 40px;
  // background: #fff;
  // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  //margin-right: 50px;
}

.playlist-title-div {
  // border-bottom: 1px solid #eeeeee;
  // padding: 30px 40px 0;
  margin-bottom: 20px;

  .playlist-title-card {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 20px !important;
    font-family: $rubik, sans-serif !important;
    color: #084892 !important;
    padding-bottom: 4px !important;
  }
  .title-md {
    padding-bottom: 0 !important;
  }

  .title-md:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 24px;
    height: 2px;
    width: 74px;
    background: #f8af2c;
  }
}

.plhead {
  font-family: $rubik, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $mine-shaft;
  line-height: 100%;
  text-transform: inherit;
  padding-left: 30px;
  position: relative;
  padding-bottom: 30px;
  cursor: pointer;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    /* background: url(/assets.images/plusblk.png); */
    width: 15px;
    height: 15px;
  }
}

.plydet {
  border: 1px solid #ececec;
  padding: 20px 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;

  .head_md {
    height: 46px;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.acc_head:hover,
.accordion_in.acc_active .acc_head {
  color: #1a73e8;
}

.plhead:hover:after,
.accordion_in.acc_active .plhead:after {
  filter: invert(32%) sepia(79%) saturate(2030%) hue-rotate(198deg) brightness(93%) contrast(95%);
}

.head_md {
  font-size: 14px;
  color: #607a9b;
  font-family: $rubik, sans-serif;
  font-weight: 600;
  line-height: 18px;
}

.all-playlist {
  // padding: 45px 40px;
}

.alltxt {
  font-size: 14px;
  color: #959595;
  font-family: $rubik, sans-serif;
  font-weight: 600;

  img {
    margin-left: 10px;
  }
}

.playlist-accordion {
  margin-top: 50px;
}

.acc_active .plhead:after {
  background: url(../../../assets/images/minus.png);
}

.accordion_in {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 25px;
}

.acc_content {
  padding: 0 0 40px 35px;
  position: relative;
}

.seeall {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  color: #959595;
  font-family: $rubik, sans-serif;
  font-weight: 600;
  text-decoration: underline;

  img {
    margin-left: 5px;
  }

  &:hover {
    color: #1a73e8;

    img {
      filter: invert(32%) sepia(79%) saturate(2030%) hue-rotate(198deg) brightness(93%) contrast(95%);
    }
  }
}

.title_lg {
  color: #084892;
  font-size: 24px;
  font-family: $rubik, sans-serif;
  font-weight: 600;
  line-height: 100%;
}

.playlist_js {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px;

  li {
    display: inline-flex;
    max-width: 230px;
    margin: 0 11px;
  }
}

.playlist-slider-control {
  width: 36px;
  height: 36px;
  background: #ffffff;
  border-radius: 100%;
  right: -9px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  top: 35%;
  position: absolute;
  border: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../../../assets/images/seeall.png);
    width: 8px;
    height: 13px;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  &.prev:before {
    transform: rotate(180deg);
  }
}

.playimg img {
  max-height: 100px;
}

@media (max-width: 1400px) {
  .bar_list li {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .scene-img > img {
    height: 300px;
  }
}

@media (max-width: 1080px) {
  .scene-img,
  // .sce_cont {
  //   width: 100%;
  // }

  .scene {
    background: #fff;
  }

  .scene-img > img {
    max-width: 100%;
    height: auto;
  }

  .collapse-toggle {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .all-playlist {
    // padding: 30px;
  }

  .playlist-accordion {
    margin-top: 30px;
  }

  .play-title-div {
    padding: 30px 30px 0;
  }

  .acc_content {
    padding: 0 0 30px 20px;
  }
}

@media (max-width: 580px) {
  .scene {
    padding-bottom: 8px;
    .shared-preview-custom-cont {
      margin-left: 0;
      margin-top: 16px;
    }
    .expandiv {
      padding-top: 4px;
      margin-bottom: 0 !important;
    }
  }

  .sce_cont {
    // padding: 20px;
  }

  .play-title-div {
    padding: 20px 20px 0;
  }

  .acc_content {
    padding: 0 0 20px 20px;
  }

  .all-playlist {
    // padding: 20px;
  }

  .title_lg {
    font-size: 22px;
  }

  .seeall {
    position: relative;
    padding-left: 0;
    width: 100%;
    clear: both;
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .title_lg {
    font-size: 20px;
  }
}

.check-each {
  // display: flex;
  border-bottom: none !important;
  .add-btn-activity {
    display: flex;
    justify-content: flex-end;
    margin-right: 45px;
  }

  .add-resource-to-playlist-btn {
    width: 175px;
    height: 48px;
    margin-top: 10px;
    display: block;
    // background: #ffffff 0 0 no-repeat padding-box;
    // border: 1px dashed #d6d6d6;
    border-radius: 2px;
    opacity: 1;
    font-size: 16px;
    // font-weight: 400;
    // line-height: 24px;
    letter-spacing: 0;
    // color: #607a9b;
    cursor: pointer;
    background: none !important;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #084892;
    border: none;

    position: absolute;
    right: 0;
    top: -10px;
  }
}
.check-each .playlist-dropdown {
  box-shadow: none !important;
}

// Mobile Desiging
.scene {
  @media (max-width: 800px) {
    display: flex !important;
    flex-wrap: nowrap !important;
    padding-bottom: 16px !important;
  }
  @media (max-width: 600px) {
    flex-wrap: wrap !important;
  }
}
@media (max-width: 800px) {
  .shared-preview-custom {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .preview-activity-style {
    padding: 0px 0px !important;
  }
}
.project-preview-logo {
  height: 48px;
  width: 100%;
  box-shadow: 0px 4px 12px 2px rgba(81, 81, 81, 0.16);
  background: #ffffff;
  border-radius: 8px 8px 0px 0px;
  padding: 0px 0px !important;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9;

  .project-preview-logo-image {
    margin-left: 16px;
    width: 52px;
    // height: 12px;
  }
}
.scene {
  @media (max-width: 800px) {
    // .scene-img {
    //   img {
    //     width: 100% !important;
    //   }
    // }
    // .title_lg {
    //   padding: 0 16px;
    // }
    // .expandiv {
    //   padding: 0 16px;
    // }
  }
}
.check-each {
  .preview-dropdown-style {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    @media (max-width: 800px) {
      width: 100% !important;
      flex-direction: row !important;

      justify-content: space-between !important;
      font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 20px !important;
      align-items: center !important;
      box-shadow: 0px 1px 6px 1px rgba(8, 72, 146, 0.16);
      border-bottom: none !important;
      margin-bottom: 8px;
      padding: 10px 0px 10px 8px !important;
      border-radius: 4px;
    }
  }
}
