@import "assets/css/index";

$selected_color: #084892;
$filled: #44ca92;

.invite-wrapper {
  .invite-btn {
    padding: 6px 8px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #767676;
    color: #767676;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    svg {
      color: #767676;
    }
  }

  .invite-dialog {
    position: absolute;
    right: 0;
    text-align: left;
    z-index: 1;

    select {
      width: 100%;
      min-width: 100px;
      color: #767676;
      /* padding: 13px 15px 0 5px; */
      flex: 1 1;
      height: 35px;
      margin-bottom: 12px;
      padding: 0px 10px;
      background: #ffffff;
      border: 1px solid #959595;
      box-sizing: border-box;
      border-radius: 4px;
      text-transform: capitalize;
    }
    .selected-option {
      // background: #ffffff;
      // box-shadow: 0px 4px 12px 2px rgba(81, 81, 81, 0.16);
      // border-radius: 4px;
      // padding: 8px;
      // height: 100px;
      padding: 8px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #084892;
      text-transform: capitalize;
    }

    button {
      border: solid 1px $selected_color !important;

      &.add-note {
        margin-right: 5px;
        background: #ffffff !important;
        border: solid 1px #a4a4a4 !important;
        color: #a4a4a4 !important;

        &:hover {
          background: #a4a4a4 !important;
          color: #ffffff !important;
        }
      }

      &:disabled {
        margin-right: 5px;
        background: #ffffff !important;
        border: solid 1px #a4a4a4 !important;
        color: #a4a4a4 !important;
      }
    }
    .tip {
      font-family: $rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      display: flex;
    }
    h2 {
      font-family: $rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #515151;
      margin-bottom: 4px !important;
    }

    // .popup-header {
    //   padding: 15px 24px;
    //   display: flex;
    //   justify-content: space-between;
    //   border-bottom: solid 1px #e2e2e2;

    //   h2 {
    //     margin: 0;
    //     padding: 0;
    //   }

    //   .close-circle {
    //     margin-left: 7px;
    //     cursor: pointer;

    //     &::after {
    //       content: "x";
    //       height: 16px;
    //       padding: 0 3px;
    //       font-size: 16px;
    //       line-height: 1;
    //     }

    //     &:hover {
    //       color: #252525;
    //     }
    //   }
    // }

    & > div {
      padding: 16px;
      width: auto;
      height: auto;
      background: #ffffff;
      box-shadow: 0px 4px 12px 2px rgba(81, 81, 81, 0.16);
      border-radius: 4px;
      border: 1px solid #767676;
      // .dropdown-select-role {
      //   background: #ffffff;
      //   border: 1px solid #959595;
      //   box-sizing: border-box;
      //   border-radius: 4px;
      // }
      .email-input {
        position: relative;
        margin-bottom: 12px;
        padding: 0 1.5em 0 0.5em;
        background: #ffffff;
        border: 1px solid #959595;
        box-sizing: border-box;
        border-radius: 4px;
        .input-box {
          padding: 5px 0;
          display: flex;
          flex-wrap: wrap;
          cursor: text;

          input {
            width: 100%;
            min-width: 100px;
            padding: 0 10px 0 5px;
            background: #ffffff;
            border: solid 1px #ffffff;
            flex: 1;
          }

          svg {
            margin: 0 -17.5px -1px 0;
            animation: spin 1s linear infinite;
          }

          .user-chip {
            width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: min-content;
            margin: 2px 1px 0 4px;
            padding: 0 5px;
            display: inline-block;
            background-color: #a5a5a5 !important;
            border-radius: 9px;
            font-size: 12px;
            align-self: center;
            color: #fff;
          }

          .close-circle {
            margin-left: 7px;
            cursor: pointer;

            &::after {
              content: "x";
              padding: 0 3px;
              font-size: 14px;
            }

            &:hover {
              border-radius: 50%;
              color: #252525;
            }
          }

          .input-container {
            display: flex;
            flex-wrap: nowrap;
            flex: 1;

            .close-circle {
              position: absolute;
              right: 0.1em;
              top: 0.4em;

              &::after {
                padding: 0 7px;
              }
            }
          }
        }

        .non-invitee-members {
          position: absolute;
          left: 0;
          overflow-y: scroll;
          width: 100%;
          max-height: 170px;
          background: #fff;
          border: solid 1px #e5e5e5;
          z-index: 1;
          border: solid 1px #aaa8a8;

          .invite-member-item {
            margin: 0;
            padding: 7px 1em;
            display: flex;

            .invite-member-name-mark {
              position: relative;
              width: 30px;
              height: 30px;
              border: solid 1px #e2e2e2;
              border-radius: 50%;
              font-weight: bold;
              text-align: center;
              text-transform: uppercase;
              color: #a5a5a5;

              span {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: 0;
                transform: translate(-50%, -50%);
                font-size: 13px;
              }
            }

            .invite-member-info {
              margin: 0 0 0 13px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-self: center;
              color: #636363;

              .invite-member-name {
                margin: 0;
                font-size: 14px;
                color: $mine-shaft;
              }
            }

            &:hover {
              cursor: pointer;
              background: $curriki-main-blue;
              * {
                color: #fff !important;
              }
            }
          }
        }

        .add-note-box {
          width: 100%;
          height: 75px;
          border: none;
        }
      }

      button {
        padding: 7px 17px;
        border-radius: 16px;
        font-size: 15px;
        &:not(:disabled) {
          background: $curriki-main-blue;
          border: none;
          color: #fff;
        }

        svg {
          margin-left: 8px;
          animation: spin 1s linear infinite;
        }
      }
    }
  }
}
