//search css

.searchresultmain {
    padding: 0 20px;
  
    .searchlibrary .card {
      padding: 20px 10px 30px;
    }
  
    .totalcount {
      text-align: left;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      font-family: Open Sans;
      letter-spacing: 0px;
      text-transform: capitalize;
      opacity: 1;
      padding: 30px 0px;
  
      span {
        letter-spacing: 0px;
        color: #0F4392;
        text-transform: capitalize;
      }
    }
  
    .mian-content-search {
      display: flex;
      justify-content: space-between;
    }
  
  
    .left-search {
      width: 25%
    }
  
  
    .searchlibrary {
  
  
      .card-header {
        background-color: #fff;
        text-align: left;
        font: normal normal 600 16px/20px Open Sans;
        letter-spacing: 0px;
        color: #0F4392;
        opacity: 1;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      .card-body {
        padding: 0px 20px;
  
        input {
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 1px solid #B8B8B8;
          border-radius: 2px;
          opacity: 1;
          width: 100%;
          padding: 10px;
          height: 36px;
          text-align: left;
          font: normal normal normal 14px/26px Open Sans;
          letter-spacing: 0px;
          color: #464646;
          opacity: 1;
          margin-bottom: 10px;
        }
  
        .check-box-search {
          text-align: left;
          font: normal normal normal 14px/26px Open Sans;
          letter-spacing: 0px;
          color: #464646;
          opacity: 1;
          margin-top: 5px;
  
          i {
            margin-right: 5px;
          }
        }
  
        .src-btn {
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 2px solid #5952C6;
          border-radius: 2px;
          opacity: 1;
          text-align: center;
          font: normal normal 600 16px/20px Open Sans;
          letter-spacing: 0px;
          color: #5952C6;
          opacity: 1;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 15px;
          cursor: pointer;
  
          &:hover {
            background-color: #5952C6;
            color: #fff
          }
        }
      }
    }
  
    .refinesearch {
      margin-top: 20px;
  
      .headline {
        text-align: left;
        font: normal normal bold 16px/20px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        background: #0F4392 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 2px #0000000D;
        opacity: 1;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 20px;
      }
  
      .card-header {
        margin: 0px 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 2px #0000000D;
        opacity: 1;
        background-color: #fff;
        text-align: left;
        font: normal normal 600 16px/20px Open Sans;
        letter-spacing: 0px;
        color: #0F4392;
        opacity: 1;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
    }
  
    .right-search {
      width: 73%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
  
      nav {
        width: 100%;
        margin: 0 !important;
        padding: 25px;
  
        a.active {
  
          background: #0F4392 0% 0% no-repeat padding-box;
          border-radius: 2px 0px 0px 2px;
          opacity: 1;
          color: #fff;
          border: 1px solid #0F4392;
          border-radius: 0px;
        }
  
        a {
          text-align: left;
          font: normal normal normal 14px/26px Open Sans;
          letter-spacing: 0px;
          color: #464646;
          opacity: 1;
          margin-top: 5px;
          text-transform: capitalize;
          border: 1px solid #464646;
          border-right: none;
          border-radius: 0px;
  
          &:last-child {
            border-right: 1px solid #464646;
          }
        }
      }
  
      .results_search {
        width: 100%;
  
        .box {
          display: flex;
          padding: 20px 0px;
          justify-content: space-between;
          border-bottom: 1px solid #ccc;
  
          margin: 0px 20px;
  
          h2 {
            text-align: left;
            font: normal normal 600 16px/22px Open Sans;
            letter-spacing: 0px;
            color: #0F4392;
            text-transform: capitalize;
            opacity: 1;
          }
  
          ul {
            padding: 2px 0px 8px;
  
            display: flex;
            padding-left: 15px;
  
            li {
  
  
              text-align: left;
              font: normal normal normal 14px/26px Open Sans;
              letter-spacing: 0px;
              opacity: 1;
              list-style-type: disc;
  
              span {
                text-align: left;
                font: normal normal normal 14px/26px Open Sans;
                letter-spacing: 0px;
                color: #0F4392;
              }
  
              margin-right:30px;
            }
          }
  
          p {
            text-align: left;
            font: normal normal normal 14px/22px Open Sans;
            letter-spacing: 0px;
            opacity: 1;
          }
        }
  
        .imgbox {
          width: 20%;
          height: 100px;
  
          div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
  
          }
  
          h5 {
            background-color: #000;
            color: #fff;
            font-size: 12px;
            justify-content: center;
            align-content: center;
            display: flex;
            height: 30px;
            align-items: center
          }
        }
  
        .content {
          margin-top: 0px;
          width: 78%
        }
      }
    }
  
  }