@import "assets/css/index";
.search-wrapper {
  margin-left: 136px !important;
  padding: 16px 22px;
}

.content-search {
  background: #ffffff;
}
.search-result-main {
  min-height: 600px;
  padding: 16px 22px 75px 24px;
  .current-org-search {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $fun-blue-1;
    margin-bottom: 4px;
  }
  .exp-lib-cnt {
    margin-bottom: 16px;
    span {
      margin-left: 9px;
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: $fun-blue-1;
      margin-bottom: 16px;
    }
  }
  .total-count {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    font-family: "rubik", sans-serif;
    letter-spacing: 0;
    text-transform: capitalize;
    opacity: 1;
    margin-bottom: 8px;
    span {
      letter-spacing: 0;
      color: $curriki-main-blue;
      text-transform: capitalize;
    }
  }
  .main-tabs .nav-item {
    background-color: $fun-blue-1;
    color: $white;
    width: 200px;
    height: 36px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500 !important;
    margin-right: 8px;
  }

  .main-tabs .nav-item.active {
    background-color: $white;
    color: $fun-blue-1;
    border-bottom: #fff !important;
  }
  .main-tabs .nav-item.active:after {
    display: none !important;
  }
  .main-content-search {
    display: flex;
    justify-content: space-between;
  }

  .left-search {
    width: 25%;
  }

  .search-library {
    .card {
      box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
      border-radius: 5px;
    }

    .card-header {
      padding: 14px 24px;
      background-color: #fff;
      text-align: left;
      color: $fun-blue-1;
      cursor: pointer;
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      border-bottom: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-body {
      padding: 8px 8px 16px 8px;
      .author-label {
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #515151;
        margin-bottom: 4px;
      }
      .mb-form {
        margin-bottom: 0px;
      }
      .radio-btns {
        display: flex;
        flex-direction: column;

        label {
          display: flex;
          cursor: pointer;
          align-items: center;
          margin-bottom: 0;
          margin-top: 8px;
          margin-bottom: 8px;
        }

        input[type="radio"] {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          background-color: $mine-shaft;
          margin-right: 10px;
          margin-left: 8px;
          border: 2px solid #084892;
          margin-bottom: 0;
        }
      }

      input {
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
        width: 100%;
        padding: 10px;
        height: 36px;
        text-align: left;
        border: 1px solid #959595;
        border-radius: 4px;
        font: normal normal normal 14px/26px $rubik;
        letter-spacing: 0;
        color: $mine-shaft;
        margin-bottom: 10px;
      }

      .check-box-search {
        text-align: left;
        font: normal normal normal 14px/26px $rubik;
        letter-spacing: 0;
        color: $mine-shaft;
        opacity: 1;
        margin-top: 5px;

        i {
          margin-right: 5px;
        }
      }

      .src-btn {
        float: right;
        font-family: $rubik;
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 16px 6px 12px;
        width: 98px;
        height: 32px;
        left: 206px;
        color: #ffffff;
        top: 76px;
        cursor: pointer;
        /* Blue/B1 */

        background: #084892;
        /* Blue elevation/Blue 4px */

        box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
        border-radius: 16px;
        svg {
          margin-right: 8px;
          color: #f8af2c;
        }
      }
    }
  }

  .refine-search {
    margin-top: 16px;

    .headline {
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      border-radius: 5px;
      color: #ffffff;
      background: $fun-blue-1;
      box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
      height: 44px;
      display: flex;
      align-items: center;
      padding: 12px 24px;
    }

    .list-item-keys {
      padding: 5px 10px;

      span {
        margin: 0 11px;
        box-shadow: 0 0 2px #0000000d;
        opacity: 1;
        font-family: $rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #515151;
        letter-spacing: 0;
        cursor: pointer;
      }

      svg.fa-square {
        color: #fff;
        border: 2px solid #084892;
        width: 18px;
        height: 18px;
      }
      svg.fa-check-square {
        border: 2px solid #084892;
        width: 18px;
        height: 18px;
        color: $curriki-main-blue;
      }
    }
    .card {
      box-shadow: 0px 1px 6px 1px rgba(8, 72, 146, 0.16);
      margin-top: 16px;
    }
    .card-header {
      padding: 14px 24px;
      background-color: #fff;
      text-align: left;
      color: $fun-blue-1;
      cursor: pointer;
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      border-bottom: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .right-search {
    width: 73%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
    border-radius: 4px;
    padding: 12px 8px;
    nav {
      width: 100%;
      margin: 0px 0px 10px 0px !important;

      a.active {
        opacity: 1;
        color: $fun-blue-1;
        font-weight: bold;
        border: 0;
        border-bottom: 4px solid $fun-blue-1 !important;
        // border-radius: 0;
      }

      a {
        text-align: left;
        font: normal normal normal 14px/26px $rubik;
        letter-spacing: 0;
        color: $fun-blue-1;
        opacity: 1;
        margin-top: 5px;
        text-transform: capitalize;
        // border: 1px solid $mine-shaft;
        border-right: none;
        // border-radius: 0;
        border: 0;

        &:last-child {
          // border-right: 1px solid $mine-shaft;
        }
      }
    }
    .nav-link {
      border: none !important;
    }
    .nav-tabs {
      border-bottom: 1px solid $fun-blue-1 !important;
    }
    .results_search {
      width: 100%;
      .teams-logo {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem !important;
      }
      .box {
        display: flex;
        padding: 12px;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd;
        min-height: 140px;

        h2 {
          text-align: left;
          font-family: $rubik;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0;
          color: $fun-blue-1;
          text-transform: capitalize;
          opacity: 1;
          word-break: break-all;
          margin-right: 10px;
        }
        .search-content {
          ul {
            // padding: 2px 0 8px 15px;
            // display: flex;

            li {
              // margin-right: 30px;
              margin-bottom: 4px;
              list-style: none !important;
              text-align: left;
              font: normal normal normal 14px/26px $rubik;
              letter-spacing: 0;
              opacity: 1;
              list-style-type: disc;
              font-family: "Open Sans", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              span {
                text-align: left;
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0;
                color: $fun-blue-1;
              }
            }
          }
          span {
            text-align: left;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0;
            color: $fun-blue-1;
          }
        }

        p {
          text-align: left;
          font: normal normal normal 14px/22px $rubik;
          letter-spacing: 0;
          opacity: 1;
          margin-bottom: 4px !important;
        }
        .dropdown-menu {
          cursor: pointer;
        }

        button {
          background-color: #fff;
          width: 24px;
          height: 24px;
          align-items: center;
          display: flex;
          border: none !important;
          outline: none !important;
          justify-content: center;
          text-align: center;
          padding-left: 25px;

          svg {
            color: #959595;
            border: 0;
          }
        }
      }

      .imgbox {
        width: 20%;
        max-height: 135px;
        border: 1px solid #dddddd;
        border-radius: 4px;
        margin-right: 20px;

        div {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        h5 {
          background-color: #000;
          color: #fff;
          font-size: 12px;
          justify-content: center;
          align-content: center;
          display: flex;
          height: 30px;
          align-items: center;
        }
      }

      .contentbox {
        margin-top: 0;
        width: 78%;
        display: flex;
        justify-content: space-between;
        overflow: visible;

        .btn-fav {
          border: 1px solid #eee;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          box-shadow: 0 0 7px 2px #eee;
          cursor: pointer;
        }
        .btn-fav.true {
          svg {
            color: goldenrod;
          }
        }
      }
    }
  }
}

.clone-lti {
  .modal-title {
    text-align: left;
    font: normal normal 400 18px/24px $rubik;
    color: #084892;
  }

  .modal-body {
    padding: 0;
    // background: #ebeef3;
    background-color: #ffffff;
  }

  .top-box-project {
    max-height: 520px;
    min-height: 300px;

    overflow-y: auto;
    // width: 55%;
    width: 100%;
  }
  .backgroundimg-clone {
    // width: 160px;
    // height: 110px;
    width: 161px;
    height: 107px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .footer-model {
    display: flex;
    // justify-content: flex-end;
    justify-content: space-between;
    margin: 20px;
    .footer-model-project-name {
      p {
        font-family: "Open Sans", sans-serif !important ;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #084892 !important;
      }
      span {
        color: #767676 !important;
      }
    }

    .button-submit {
      border-radius: 30px;
      width: 98px;
      height: 40px;
      font: normal normal normal 15px/20px $rubik;
      letter-spacing: 0;
      color: #ffffff;
      border: none;
    }
  }
}

.lti-all-project {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  // After Change
  flex-direction: column;
  .btn {
    text-decoration: none !important;
  }
  .btn-link {
    &:hover {
      text-decoration: none !important;
    }
  }
  .btn-link.focus {
    &:hover {
      text-decoration: none !important;
    }
  }

  .information-clone-model-project {
    padding: 30px 62px !important;
  }
  // .information-clone//change name
  .information-clone-model {
    // width: 40%;
    width: 100%;
    // padding: 25px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .clone-back-option-project {
      margin-bottom: 38px;
      cursor: pointer;
      span {
        margin-left: 18px;

        font-family: $rubik;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #084892;
      }
    }
    .clone-create-project-headng {
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;

      color: #084892;
      border-bottom: 4px solid #f8af2c;
      padding-bottom: 4px;
      width: fit-content;
      margin-bottom: 20px;
    }
    p {
      // font: normal normal normal 14px/22px $rubik;
      // color: $mine-shaft;
      font-family: "Open Sans", sans-serif !important;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $curriki-main-blue !important;
    }

    .clone-searching-section-margin {
      margin-top: 18px;
      margin-bottom: 18px;
    }
    .clone-searching-section-margin-ind {
      margin-bottom: 24px;
    }
    .clone-searching-section {
      // margin-top: 18px;
      // margin-bottom: 18px;
      background: #f7faff;
      border-radius: 8px;
      padding: 16px 24px;
      .search-and-filters {
        display: flex;
        justify-content: space-between;
        .search-bar {
          position: relative;
          input {
            margin-right: 39.17px;
            max-width: 358px;
            min-width: 258px;
            border: none;
            background: none;
            border-bottom: 2px solid #084892;
            &::placeholder {
              color: $fun-blue-1;
            }
          }
          img {
            position: absolute;
            right: 40px;
            bottom: 4px;
          }
          svg {
            position: absolute;
            right: 40px;
            bottom: 12px;
          }
          .svg_icon {
            position: absolute;
            right: 40px;
            bottom: 12px;
          }
        }
        .filter {
          color: $fun-blue-1;
          img {
            margin-right: 8px;
          }
        }
      }
    }

    .active-resource {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0 3px 6px #00000012;
      border: 1px solid #e1e1e1;
      border-radius: 2px;
      padding: 10px 20px;

      h2 {
        font: 400 14px/20px $rubik;
        color: #084892;
        padding: 10px 0;
      }

      h3 {
        font: 400 12px/26px $rubik;
        color: $mine-shaft;
        border-top: 1px solid #e6e6e6;
        padding: 10px 0;

        span {
          font-weight: 600;
        }
      }
    }
  }

  .flex-bar {
    display: flex;
    // width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    .text-align-left {
      margin-top: 24px;
      text-align: left;
    }
  }

  .btn {
    padding: 10px;
    width: 100%;
  }

  .card-header {
    padding: 0;
  }

  .top-card.card-header {
    // background-color: #084892;

    span {
      color: #fff;
      font-weight: 600;

      svg {
        margin-right: 10px;
      }
    }

    // .top-card-btn {
    //   padding: 0;
    //   &:focus{
    //     box-shadow: 0px !important;
    //   }
    // }
  }

  .middle-card {
    background-color: #fff;
    border: none;

    span {
      color: #333;
      font-weight: 600;

      svg {
        margin-right: 10px;
        color: #084892;
      }
    }

    .btn-link {
      padding: 0;
    }
  }

  .button-submit {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
    width: 200px;
    height: 50px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #fff;

    &:hover {
      color: #084892;
    }
  }
}
.active-resource-update-space {
  padding-bottom: 22px;
  border-bottom: 1px solid #dddddd;
}
.active-resource-update {
  display: flex;
  // border: 1px solid red;
  width: 100%;
  img {
    width: 159px;
    height: 90px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 5px;
  }
  .active-resource-detail {
    width: 100%;
    text-align: left;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    h6 {
      margin-bottom: 4px !important;
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $curriki-main-blue;
    }
    p {
      margin-bottom: 4px !important;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #959595 !important;
      span {
        color: $curriki-main-blue;
      }
    }
    .model-name-activity-selection {
      // border: 1px solid black;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .model-name-activity {
        p {
          margin-bottom: 4px !important;
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #959595 !important;
          span {
            color: $curriki-main-blue;
          }
        }
      }
      .model-name-activity-playlist {
        cursor: pointer;
        color: $curriki-main-blue;
        // height: 28px;
        width: 132px;
        background: #e5eeff;
        border-radius: 4px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        span {
          font-family: $rubik;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-right: 12px;
        }
      }
    }
  }
}
.activity-project-playlist-selected {
  border: 1px solid transparent;
  background: #f7faff !important;
}
.activity-project-playlist-unselected {
  background: #ffffff !important;
  border: 1px solid #dddddd;
}

.activity-project-playlist {
  background: #ffffff;
  box-shadow: 0px 1px 6px 1px rgba(8, 72, 146, 0.16);
  border-radius: 8px;
  // margin-top: 8px;
  margin-bottom: 12px;
  height: 60px;
  padding: 6px 6px;
  // border: 1px solid red;

  .playlist-title-copy-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copy-here-unselected {
      background: #f7faff !important;
      span {
        color: #2e68bf !important;
      }
    }
    .copy-here-selected {
      background: #e5eeff !important;
      span {
        color: #084892 !important;
      }
    }
    .copy-here {
      background: #f7faff;
      border-radius: 4px;
      width: 85px;
      height: 28px;
      padding: 4px 8px;
      span {
        font-family: $rubik;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $curriki-main-blue;
      }
    }
  }
  .activity-project-playlist-title {
    font-family: $rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $curriki-main-blue;
    text-decoration: none;
  }
}
.list-add-project-activity-accordion {
  padding: 0px 8px 8px 8px;
}
.list-add-project-activity {
  padding: 0px 4px;
  max-height: 520px;
  min-height: 300px;
  overflow-y: auto;
  box-shadow: 0px 2px 8px 1px rgba(8, 72, 146, 0.16);
  border-radius: 4px;
  .activity-project-playlist-section {
    margin: 0px 4px 0px 8px;
    border-bottom: 1px solid #dddddd;
    .card-body {
      padding-top: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-bottom: 0px !important;
    }
  }
  .playlist-list-update {
    display: flex;
    margin-top: 22px;
    padding-bottom: 12px; //22
    // border-bottom: 1px solid #dddddd;
  }
  .btn:focus {
    box-shadow: none !important;
  }
}

ul.pagination {
  display: flex;
  margin: 20px 20px;
  justify-content: flex-end;

  .page-item.active {
    .page-link {
      background-color: $curriki-main-blue;
      border-color: $curriki-main-blue;
    }
  }
}
.author {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: inherit;
  overflow-y: scroll;
}
.form-group.wrap-keyword {
  display: flex;
  justify-content: initial;
  flex-wrap: wrap;
  .keywords-de {
    background-color: $curriki-main-blue;
    color: #fff;
    border-radius: 30px;
    padding: 6px 10px;
    font-size: 12px;
    position: relative;
    margin: 5px 5px 0 0;

    .iocns {
      color: #fff;
      background-color: #ff0000d1;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 30px;
      stroke-width: 1px;
      cursor: pointer;
      display: none;

      svg {
        margin: 10px auto;
        display: flex;
      }
    }

    &:hover .iocns {
      display: block;
    }
  }
}
.author-main-box {
  height: 50px;
  margin-top: -16px;
  position: inherit;
  overflow-y: scroll;
  .author-box {
    overflow-y: scroll;
    background: #fff;
    border: 1px solid #e5e5e5;
    &:hover {
      cursor: pointer;
      background: $curriki-main-blue;
      * {
        color: #fff !important;
      }
    }
    .invite-member-name-mark {
      position: relative;
      width: 30px;
      height: 30px;
      border: solid 1px #e2e2e2;
      border-radius: 50%;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #a5a5a5;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        font-size: 13px;
      }
    }
    .invite-member-info {
      margin: 0 0 0 13px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: center;
      color: #636363;

      .invite-member-name {
        margin: 0;
        font-size: 14px;
        color: $mine-shaft;
      }
    }
    div {
      margin: 0;
      padding: 7px 1em;
      display: flex;
    }
  }
}
.modal-dialog.safari-modal {
  max-width: 80vw;
  iframe {
    height: 80vh;
    width: 100%;
  }
}

.search-top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.back-option-sectioin {
  cursor: pointer;
  margin-bottom: 16px;
  .mr-12 {
    margin-right: 12px;
  }
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #084892;
  }
}

.dropDown-item-name-icon {
  svg {
    margin-right: 10px;
  }
  span {
    font-family: $rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #084892;
  }
}

// learning_activity_tab
.learning_activity_tab {
  align-items: flex-start;
  .dropdown-menu {
    top: -16px !important;
  }
}
