@import "assets/css/index";

.curriki-utility-activity-dropdown {
  .activity-dropdown {
    display: flex;
    align-items: center;
    .activity-dropdown-btn {
      height: 24px;
      padding: 0 0 0 10px !important;
      color: #868686 !important;
      background: transparent !important;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;

      &:after {
        display: none;
        border-top-color: white !important;
      }
    }
  }

  .activity-dropdown.check {
    width: 100%;
    height: 100%;
  }

  .activity-dropdown.check {
    .dropdown-menu {
      min-width: 190px;
      margin: 0;
      padding: 0;
      border: none;

      box-shadow: 0 3px 20px #00000029;

      flex-direction: column;
      border-radius: 5px;

      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0;
        color: $curriki-main-blue;
        padding: 5px 12px;

        &:hover {
          background-color: #d6d6d6;
          color: white;
        }

        .fa {
          padding-right: 5px;
          font-size: 12px;
          color: $mine-shaft;
        }
      }
    }
  }
  .mr-2 {
    margin-right: 10px;
  }
}
.dropdown-right-angle {
  display: flex;
  justify-content: space-between;
}
.faAngleRight-dropdown {
  position: absolute;
  top: 4px;
  right: 10px;
}
.c2e-modal-content {
  border: none;
  color: var(--Neutrals-W0, #1e1e1e);
  margin-bottom: 24px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  .two-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
.box-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.first-box,
.second-box {
  border-radius: 8px;
  border: 1px solid var(--Neutrals-W4, #ddd);
  padding: 24px 8px 0 8px;
  width: 222px;
  .box-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.selected {
    border: 1px solid var(--Blue-B4, #2e8df5);
    background: rgba(74, 211, 255, 0.1);
  }
}

.title {
  color: #084892 !important;
  margin: 0;
  font-family: $rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.book_title {
  color: #515151;
  margin: 0;
  font-family: $rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.chap_title {
  margin: 0;
  color: #1e1e1e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.chapter {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.chap-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #f1f1f1;
  margin-top: 24px;
}
.total-price {
  display: flex;
  gap: 8px;
  justify-content: end;
  margin-top: 15px;
}
.radio-buttons {
  display: flex;
  flex-direction: column;
}

.heading-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.all-chap {
  height: 350px;
  overflow: auto;
}
