@import "assets/css/index";
.curriki-utility-myproject-card {
  width: 265px;
  height: 316px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(81, 81, 81, 0.16);
  border-radius: 8px;
  //   padding: 15px;
  .myproject-card-top {
    border-radius: 5px;
    // background-image: url("../../assets/images/cardlistimg.png");
    background-size: 100% 100%;
    position: relative;
    height: 156px;
    &:before {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      // background-color: rgba(113, 117, 119, 0.7);
      background: linear-gradient(
        180deg,
        rgba(81, 81, 81, 0.2) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .myproject-card-dropdown {
      position: absolute;
      top: 17px;
      right: 23px;
    }
    .myproject-card-title {
      position: absolute;
      bottom: 10px;
      left: 15px;
      h2 {
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
      }
    }
  }
  .myproject-card-detail {
    padding: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    p {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #767676;
      margin-bottom: 0 !important;
      word-break: break-all;
    }
  }
  .my-project-icons {
    padding: 0 16px;
    .icon-edit {
      margin-right: 26px;
    }
  }
}
