@import 'assets/css/index';

.resource-modal {
  h1 {
    margin: 0;
    font-family: $rubik, sans-serif;
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: $curriki-main-blue;
      border-bottom: 2px solid #f8af2c;
    }

    font-size: 2rem;
    font-weight: 300;
    // color: #165399;
    text-transform: capitalize;
  }
  .close-btn {
    margin-left: auto;
    // margin-bottom: 45px;
    background: none;
    border: 0;
  }

  .modal-content {
    padding: 0px 40px 20px 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: 470px;
  }

  .modal {
    padding: 0 !important;
  }
}

.create-program-wrapper {
  .dropdown-visibilitytypes {
    margin-top: 15px;
  }
  label {
    display: block;
    h2 {
      font-family: $rubik, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #515151;
    }
  }

  h1 {
    margin: 0;
    font-family: $rubik, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #165399;
    text-transform: capitalize;
  }

  .create-playlist-form {
    .project-name {
      input {
        width: 100%;
        height: 36px;
        padding: 8px !important;
        background: #ffffff;
        border: 1px solid #959595;
        border-radius: 4px;
      }
    }
    .imgbox {
      width: 100%;
    }

    .project-description {
      margin-top: 16px;

      textarea {
        width: 100%;
        height: 56px;
        padding: 8px !important;
        // border: 1px solid #d9dfe8;
        // border-left: 3px solid #d9dfe8;
        // border-radius: 0;
        background: #ffffff;
        border: 1px solid #959595;
        border-radius: 4px;
      }
    }

    .upload-thumbnail {
      .upload_placeholder {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
      }
      label {
        display: block;
        input {
          display: none;
        }

        span {
          width: 138px;
          height: 100%;
          padding-top: 15px;
          display: block;
          float: right;
          background: #d9dfe8;
          font-family: $rubik, sans-serif;
          font-size: 12px;
          font-weight: 600;
          color: #000;
          text-align: center;
          text-transform: uppercase;
        }
      }

      .thumb-display {
        // width: 280px;
        height: auto;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .create-project-template-wrapper {
      float: right;
      margin-top: 48px;
      .create-project-submit-btn {
        padding: 10px 15px;
        // background: #2ecf43;
        border: 0;
        // border-radius: 5px;
        font-family: $rubik, sans-serif;
        font-weight: 500;
        color: #fff;
        // text-transform: uppercase;
        cursor: pointer;

        width: 188px;
        height: 40px;
        left: 50px;
        top: 770px;
        background: $fun-blue-1;
        border-radius: 20px;

        img {
          width: 23px;
        }
      }

      .project-template-btn {
        padding: 10px 15px 10px 35px;
        float: right;
        background: url(../../../assets/images/project-template-icon.png) #fff no-repeat 8px 10px;
        border: 1px solid #d9dfe8;
        border-radius: 5px;
        font-family: $rubik, sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
.dropdown-visibilitytypes {
  h2 {
    font-family: $rubik !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #515151 !important;
  }
  select {
    width: 154px !important;
    height: 36px !important;
    padding: 0 !important;
    background: #ffffff !important;
    border: 1px solid #515151 !important;
    border-radius: 4px !important;
  }

  .dropdown-toggle {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    width: 100%;
    padding-left: 0px;

    p {
      font-size: 9px;
      line-height: 12px;
      color: $dove-gray;
      margin-bottom: 0px;
    }
    &:after {
      content: url('../../../assets/images/path.png');
      float: right;
      border-top: none;
    }
    &:hover,
    &:active,
    &:focus {
      border: 0;
      outline: none;
    }
  }

  .dropdown-menu {
    min-width: 283px;
    max-height: 359px;
    background: #ffffff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 25px;
    overflow: auto;
  }

  a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $fun-blue-1;
    padding: 0;
  }
  select {
    border-bottom: 1px solid #e5e5e5;
    border: none;
    padding: 22px 195px 17px 0px;
    option {
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 0px;
    }
  }
  // .all-tg-lister {
  //   border-bottom: 1px solid #E5E5E5;
  //   padding: 10px 0px;
  // }

  p {
    font-weight: normal;
    font-size: 12.8px;
    line-height: 127.85%;
    color: #888888;
    margin-bottom: 0px;
  }
}
#dropdown-basic {
  background-color: transparent;
  right: 0px;
  top: 1px;
}
.disclaimer {
  margin-top: 16px;
  margin-bottom: 0px !important;
}
