.resource-modal {
  h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #165399;
    text-transform: capitalize;

    .close-btn {
      float: right;
      background: none;
      border: 0;
    }
  }

  .modal-content {
    padding: 40px 35px;
  }

  .modal {
    padding: 0 !important;
  }
}

.create-program-wrapper {
  h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #165399;
    text-transform: capitalize;
  }

  .create-playlist-form {
    h2 {
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: 'Hind Siliguri', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #565656;
    }

    label {
      margin-bottom: 0;
    }

    .project-name {
      input {
        width: 100%;
        height: 54px;
        padding-left: 15px;
        border: 1px solid #d9dfe8;
        border-left: 3px solid #d9dfe8;
      }
    }

    .project-description {
      textarea {
        width: 100%;
        height: 200px;
        padding: 15px;
        border: 1px solid #d9dfe8;
        border-left: 3px solid #d9dfe8;
        border-radius: 0;
      }
    }

    .upload-thumbnail {
      label {
        width: 100%;
        height: 54px;
        padding-left: 15px;
        border: 1px solid #d9dfe8;
        border-left: 3px solid #d9dfe8;
        cursor: pointer;

        input {
          display: none;
        }

        span {
          width: 138px;
          height: 100%;
          padding-top: 15px;
          display: block;
          float: right;
          background: #d9dfe8;
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 600;
          color: #000;
          text-align: center;
          text-transform: uppercase;
        }
      }

      .thumb-display {
        width: 200px;
        height: 200px;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .create-project-template-wrapper {
      margin-top: 25px;

      .create-project-submit-btn {
        padding: 10px 15px;
        background: #2ecf43;
        border: 0;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
      }

      .project-template-btn {
        padding: 10px 15px 10px 35px;
        float: right;
        background: url(../../../assets/images/project-template-icon.png) #fff no-repeat 8px 10px;
        border: 1px solid #d9dfe8;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
