.lti-deeplink-project-container h3 {
    font-size: 1.75rem;
    color: darkslateblue;
}

.lti-deeplink-project-container h4 {
    font-size: 1.20rem;
}

.lti-deeplink-project-container h5 {
    font-size: 1rem;
    color: darkslateblue;
}

.lti-deeplink-project-container img {
    max-width: 150px;
    max-height: 150px;
}