aside {
  min-height: 900px;
  padding-top: 30px;
  padding-right: 0;
  background: #fff;

  & > ul {
    padding: 0 30px;
    list-style: none;

    & > li {
      border-top: 1px solid #e8e8e8;

      a {
        color: #607a9b;
      }

      & > a {
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        font-size: 20px;

        &:hover {
          text-decoration: none;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      .sublist {
        padding-left: 25px;
        list-style: none;

        a {
          padding-top: 5px;
          padding-bottom: 5px;
          display: block;
          font-size: 14px;
        }
      }

      .add-member {
        padding-left: 25px;

        button {
          margin-top: 20px;
          margin-bottom: 50px;
          padding: 5px 10px 5px 35px;
          background: #fafafa url(../../assets/images/add-member-icon.png) no-repeat 10px 9px;
          border: 1px solid #bfbfbf;
          border-radius: 2px;
          color: #607a9b;
          cursor: pointer;
        }
      }
    }
  }

  .sidebar-icon {
    width: 25px;
    height: 20px;
    display: inline-block;
  }

  .my-resources-icon {
    background: url(../../assets/images/my-resource-icon.png) no-repeat 0 7px;
  }

  .teams-icon {
    background: url(../../assets/images/teams-icon.png) no-repeat 0 7px;
  }

  .favorites-icon {
    background: url(../../assets/images/favorites-icon.png) no-repeat 0 7px;
  }

  .recent-resource-icon {
    background: url(../../assets/images/recent-resource-icon.png) no-repeat 0 7px;
  }
}

.sidebar-all {
  .expand {
    width: 100%;
    display: block;
    border-top: 1px solid #e8e8e8;
    font: normal normal normal 13px/22px Open Sans;
    letter-spacing: 0;
    color: #0f4392;
    text-align: left;
    text-decoration: underline;
    opacity: 1;

    svg {
      margin-left: 10px;
    }
  }

  .menu-title {
    padding: 12px 20px;
    border-top: 1px solid #e8e8e8;
    font: normal normal bold 16px/25px Open Sans;
    font-weight: 600;
    letter-spacing: 0;
    color: #0f4392;
    text-align: left;
    text-transform: uppercase;
    opacity: 1;

    &:hover {
      cursor: pointer;
      text-decoration: none !important;
    }
  }

  .team-item {
    margin: 12px 20px;
    border: solid 1px #e6e6e6;

    &:hover {
      cursor: pointer;
      text-decoration: none !important;
    }

    .team-label {
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #e6e6e6;
      font-size: 14px;
    }

    .team-detail-labels {
      display: flex;
      flex-direction: column;

      a {
        padding: 10px 15px;
        font-size: 12px;

        .project-title {
          padding-top: 0;
          padding-left: 24px;
          background: url(../../assets/images/project.svg) no-repeat;
          background-size: 25% 100%;
          letter-spacing: -0.5px;
        }

        .channel-title {
          padding-top: 0;
          padding-left: 24px;
          background: url(../../assets/images/users_net.svg) no-repeat;
          background-size: 25% 100%;
          letter-spacing: -0.5px;
        }

        &.active-label {
          color: #0F4392;
        }

        svg {
          margin-right: 8px;
        }
      }
    }

    &.collapsed {
      .team-label {
        background: #EEEEEE;
      }

      .team-detail-labels {
        display: none;
      }
    }
  }

  .create-button {
    text-align: center;

    a {
      padding: 7px 65px;
      background: none;
      border: solid 1px;
      border-radius: 5px;
      font-size: 14px;
      line-height: 25px;
      color: #0f4392;
      //font-style: normal;
      //font-variant-ligatures: normal;
      //font-variant-caps: normal;
      //font-variant-numeric: normal;
      //font-variant-east-asian: normal;
      //font-stretch: normal;
    }
  }

  a {
    padding: 10px 0;
    font: normal normal 400 14px/25px Open Sans;
    font-weight: 400;
    letter-spacing: 0;
    color: #464646;
    text-align: left;
    opacity: 1;
  }
}

