@import "assets/css/index";

// C-CSS-Start
.dropdown-submenu.send {
  position: relative;

  &:hover {
    .dropdown-menu.check {
      display: block;
      left: -130px;
      top: 0;
      width: 130px;
    }
  }
}

// C-CSS-End

.playlist-resource-bg {
  border: none !important;
}
.playlist-resource-title {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #515151 !important;
}
.resource-drag-gray {
  background-color: lightgray !important;
}

.resource-drag-dashed {
  border-style: dashed;
}

.activity-options-wrapper {
  width: 25px;
}

.activity-options {
  float: right;
  cursor: pointer;

  button {
    padding: 0 0 10px 10px;
    height: auto;
    vertical-align: top;
    line-height: 0;
    background: #fff;
    color: #868686;
  }

  span {
    border: 2px solid #dbdbdb;
    display: block;
    width: 2px;
    margin-top: 2px;
    margin-left: auto;
  }

  .options {
    margin-top: 5px;

    .preview-btn {
      background: #fff;
      border: 1px solid #ccc;
      padding: 8px;
      cursor: pointer;
      display: block;
      width: 100%;
    }

    .edit-btn {
      background: #fff;
      border: 1px solid #ccc;
      padding: 8px;
      cursor: pointer;
      display: block;
      width: 100%;
    }

    .delete-btn {
      background: #fff;
      border: 1px solid #ccc;
      padding: 8px;
      cursor: pointer;
      display: block;
      width: 100%;
    }
  }
}

.resource-dropdown {
  .dropdown-menu {
    min-width: 160px;
    margin: 0;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 6px 1px rgba(81, 81, 81, 0.16);

    a {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      // color: $mine-shaft;
      color: #084892;
      padding: 4px 6px;
      // sborder-bottom: 1px solid #eee;
      display: flex;
      margin-bottom: 4px;

      &:hover {
        color: #2e68bf;
        background: rgba(229, 238, 255, 0.32);
        border-radius: 4px;
      }
      .menue-img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
      .fa {
        padding-right: 4px;
        font-size: 12px;
        color: $mine-shaft;
      }
    }
  }
  .resource-dropdown-btn {
    height: 24px;
    padding: 0 0 0 10px !important;
    color: #868686 !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:after {
      display: none;
      border-top-color: white !important;
    }
  }
}

.share-project-preview-url.project-share-check {
  h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  input {
    width: 90%;
    border: none;
    cursor: pointer;
    color: #007bff;
    text-align: center;
    margin-bottom: 10px;
  }
}

.safari-modal {
  width: 80vw;
  height: 90vh;
  max-width: 90vw;
}

.safari-modal iframe {
  height: 80vh;
  width: 100%;
}

.resource-card-wrapper .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
