.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
  margin-right: 20px;

  .react-switch {
    padding-left: 5px;
    .react-switch-bg {
      width: 40px !important;
    }
  }
  .link-btn {
    display: flex;
    background: none;
    border: none;
    margin-left: 16px;
    span {
      line-height: 32px;
      color: #084892;
      text-decoration: underline;
    }
  }
  .react-switch-handle {
    width: 26px !important;
    height: 26px !important;
  }
  .react-switch-handle:checked {
    transform: translateX(32px) !important;
  }
}
