.team-selector {
  background-color: #F7FAFF;
  padding: 1em;
}

.team-selector .form-group {
  margin-bottom: auto;
}

.team-selector .form-group label {
  padding-right: 2em;
  color: #084892;
  font-size: medium;
}

.team-selector .form-group select {
  width: auto;
  display: inline;
  border-color: #084892 !important;
  color: #084892 !important;
}

.team-container {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: solid 1px #DDDDDD;
}

.team-container h1 {
  color: #084892;
  font-size: larger;
}

.team-container p {
  color: #767676 !important;
  overflow: hidden;
}

.team-container button {
  background-color: #F7FAFF;
  color: #2E68BF;
}

.projects-container {
  border: solid 1px #DDDDDD;
  border-radius: 8px;
  padding: 1em;
}

.msteams-search-page {
  .team {
    border-bottom: solid 1px #5B5FC7;
  }

  .team-selector {
    background-color: white;
    padding: 0;
  }

  .team-selector .form-group {
    label {
      display: block;
      color: #484644;
      font-size: small;
    }

    select {
      border: solid 1px;
      border-color: #E0E0E0 !important;
      color: black !important;
      font-size: small;
    }
  }

  .team-container {
    border: solid 1px #E0E0E0;
    border-radius: 5px;
    padding: 1em;
    display: block;

    h1 {
      color: black;
    }

    p {
      color: #252423;
    }

    button {
      border: solid 1px lightgray;
      background-color: white;
      color: black;
      font-weight: 500;
    }

    button:hover {
      border: 0;
      background-color: #4F52B2;
      color: white;
      font-weight: 500;
    }
  }

  .team.selected-team button {
    border: 0;
    background-color: #4F52B2;
    color: white;
    font-weight: 500;
  }
}