.create-user-confirm-btn {
  color: #084892 !important;
  background: #fff !important;
  border-radius: 50px !important;
  border: solid 2px #084892 !important;
}

.create-user-confirm-modal-content div {
  color: #084892 !important;
  font-weight: normal !important;
  font-size: large !important;
}