@import 'assets/css/index';

.resource-activity {
  // padding-left: 25px;

  #laravel-h5p-form {
    .methods .control-label {
      font-weight: bold;
    }

    .methods .radio-inline {
      padding-right: 10px;
      cursor: pointer;
    }

    .methods .radio-inline input {
      margin-right: 2px;
    }
  }

  .back-button {
    color: #ffffff;
    /* -webkit-text-stroke: 1px white; */
    cursor: pointer;
    background: #084892;
    border-radius: 20px;
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 15px;

    .fa {
      margin-right: 5px;
      -webkit-text-stroke: 1px #084892;
    }
  }

  .activity-label {
    margin-bottom: 40px;
    display: block;
    width: 100%;
  }

  .title {
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0;
    color: $curriki-main-blue;
    padding-bottom: 25px;
    opacity: 1;
  }

  .activity-content {
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 0;
      color: $mine-shaft;
      opacity: 1;
      padding-bottom: 30px;
    }
  }

  .activity-item {
    // width:200px;
    border: 2px solid #e9e9e9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 183px;
    align-items: center;
    cursor: pointer;

    .activity-img {
      padding: 12%;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;

      .overlay-activity-icon {
        display: none;
      }
    }

    &:hover {
      .activity-icon {
        display: none;
      }

      .overlay-activity-icon {
        display: inline;
      }
    }
  }
}

.resource-question {
  // padding-left: 25px;

  .scroll-blog {
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .responsive-pad {
      padding-left: 2px;
      padding-right: 2px;
    }

    .row {
      padding: 0 20px;
    }
  }

   h2 {
    margin-bottom: 0 !important;
    font: normal normal 600 18px/29px $halvetica !important;
    color: $mine-shaft !important;
  }

  .pexel, .gallery {
    background-color: #fff !important;
  }
  .shadowbox {
    display: flex;
    justify-content: space-between;
    background: #f8f8f8 0 0 no-repeat padding-box;
    opacity: 1;
    height: 64px;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: -10px;

    .btn {
      width: 147px;
      height: 41px;
      background: #ffffff 0 0 no-repeat padding-box;
      border: 1px solid #e9e9e9;
      border-radius: 2px;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0;
      color: #959595;
      opacity: 1;
      text-align: left;

      &:focus {
        box-shadow: 0 0 0 transparent;
      }

      &:after {
        float: right;
        margin-top: 7px;
      }
    }

    .search-box {
      position: relative;

      input {
        background: #ffffff 0 0 no-repeat padding-box;
        border: 1px solid #dedede;
        border-radius: 2px;
        opacity: 1;
        width: 272px;
        height: 41px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0;
        color: #959595;
        padding-left: 20px;

        &::placeholder {
          color: #959595;
        }
      }

      svg {
        position: absolute;
        right: 14px;
        color: $curriki-main-blue;
        top: 13px;
      }
    }
  }

  .back-button {
    color: #ffffff;
    /* -webkit-text-stroke: 1px white; */
    cursor: pointer;
    background: #084892;
    border-radius: 20px;
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 15px;

    .fa {
      margin-right: 5px;
      -webkit-text-stroke: 1px #084892;
    }
  }

  .question-label {
    margin-bottom: 40px;
    width: 100%;

    .activity-content {
      p {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.28px;
        color: #707070;
        padding: 5px 0 0;
      }

      span {
        font-weight: 600;
        font-size: 17px;
        line-height: 24px;
        padding-top: 0;
        letter-spacing: 0.34px;
        color: #084892;
        opacity: 1;
      }
    }
  }

  .title {
    font-weight: 400;
    font-size: 24px;
    color: #2d2d2d;
    margin-bottom: 33px;
  }

  .activity-item {
    // width:230px;
    min-height: 220px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    position: relative;
    text-align: center;
    background: #ffffff url(../../../assets/images/unselected-radio-icon.png) no-repeat right 15px top 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    .fa-star {
      position: absolute;
      top: 15px;
      left: 15px;
      color: #f8e700;
    }

    .activity-img {
      padding: 12%;
      margin: 0 auto 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      .overlay-activity-icon {
        display: none;
      }
    }

    &:hover {
      .activity-icon {
        display: none;
      }

      .overlay-activity-icon {
        display: inline;
      }
    }
  }
}

$selected_color: #084892;
$filled: #44ca92;

.create-resource-sidebar {
  height: 500px;
  border-right: 1px solid #f6f6f6;
  margin-right: 40px;

  .activity-sidebar-btn {
    height: 114px;

    &.selected {
      .btn-box {
        .number-box {
          border: 2px solid $selected_color;

          span.number {
            background: $selected_color;
            color: #fff;
          }
        }

        span.bottom-vertical-line {
          background: $selected_color;
        }

        span.top-vertical-line {
          background: $selected_color;
        }
      }

      span.name {
        color: $selected_color;
        border-right: 3px solid #084892;
      }
    }

    &.filled {
      .btn-box {
        .number-box {
          border: 2px solid $filled;

          span.number {
            background: $filled;
            color: #fff;
          }
        }

        span.top-vertical-line {
          background: $filled;
        }

        span.bottom-vertical-line {
          background: $filled;
        }
      }

      span.name {
        color: $filled;
      }
    }

    .btn-box {
      position: relative;

      .number-box {
        display: inline-block;
        border: 5px solid #efefef;
        padding: 3px;
        border-radius: 50%;
        position: absolute;

        span.number {
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          color: #efefef;
          padding-top: 4px;
          font-weight: bold;
        }
      }

      span.top-vertical-line {
        width: 3px;
        display: inline-block;
        height: 38px;
        position: absolute;
        top: -38px;
        left: 20px;
        background: #efefef;
      }

      span.bottom-vertical-line {
        width: 3px;
        display: inline-block;
        height: 76px;
        position: absolute;
        bottom: -116px;
        left: 20px;
        background: #efefef;
      }
    }

    span.name {
      margin-left: 50px;
      font-size: 16px;
      cursor: pointer;
      font-family: "rubik", sans-serif;
      font-weight: 400;
      padding-top: 7px;
      padding-bottom: 10px;
      display: block;
    }
  }

  .select-question {
    height: 114px;
  }

  .select-description {
    height: 114px;
  }

  //.select-question {
  //  &.selected {
  //    .question-box {
  //      .number-box {
  //        border: 2px solid $selected_color;
  //
  //        span.number {
  //          background: $selected_color;
  //          color: #fff;
  //        }
  //      }
  //
  //      span.bottom-vertical-line {
  //        background: $selected_color;
  //      }
  //
  //      span.top-vertical-line {
  //        background: $selected_color;
  //      }
  //    }
  //
  //    span.name {
  //      color: $selected_color;
  //    }
  //  }
  //
  //  &.filled {
  //    .question-box {
  //      .number-box {
  //        border: 2px solid $filled;
  //
  //        span.number {
  //          background: $filled;
  //          color: #fff;
  //        }
  //      }
  //
  //      span.bottom-vertical-line {
  //        background: $filled;
  //      }
  //
  //      span.top-vertical-line {
  //        background: $filled;
  //      }
  //    }
  //
  //    span.name {
  //      color: $filled;
  //    }
  //  }
  //
  //  .question-box {
  //    position: relative;
  //
  //    .number-box {
  //      display: inline-block;
  //      border: 5px solid #efefef;
  //      padding: 3px;
  //      border-radius: 50%;
  //      position: absolute;
  //
  //      span.number {
  //        display: inline-block;
  //        width: 28px;
  //        height: 28px;
  //        border-radius: 50%;
  //        background: #fff;
  //        text-align: center;
  //        color: #efefef;
  //        padding-top: 4px;
  //        font-weight: bold;
  //      }
  //    }
  //
  //    span.top-vertical-line {
  //      width: 3px;
  //      display: inline-block;
  //      height: 38px;
  //      position: absolute;
  //      top: -38px;
  //      left: 20px;
  //      background: #efefef;
  //    }
  //
  //    span.bottom-vertical-line {
  //      width: 3px;
  //      display: inline-block;
  //      height: 76px;
  //      position: absolute;
  //      bottom: -116px;
  //      left: 20px;
  //      background: #efefef;
  //    }
  //  }
  //
  //  span.name {
  //    margin-left: 50px;
  //    font-size: 16px;
  //    cursor: pointer;
  //    display: block;
  //    border-right: 3px solid #084892;
  //    padding-top: 10px;
  //    padding-bottom: 10px;
  //  }
  //}
  //.select-description {
  //  height: 114px;
  //
  //  &.selected {
  //    .description-box {
  //      .number-box {
  //        border: 2px solid $selected_color;
  //
  //        span.number {
  //          background: $selected_color;
  //          color: #fff;
  //        }
  //      }
  //
  //      span.top-vertical-line {
  //        background: $selected_color;
  //      }
  //    }
  //
  //    span.name {
  //      color: $selected_color;
  //    }
  //  }
  //
  //  &.filled {
  //    .description-box {
  //      .number-box {
  //        border: 2px solid $filled;
  //
  //        span.number {
  //          background: $filled;
  //          color: #fff;
  //        }
  //      }
  //
  //      span.bottom-vertical-line {
  //        background: $filled;
  //      }
  //    }
  //
  //    span.name {
  //      color: $filled;
  //    }
  //  }
  //
  //  .description-box {
  //    position: relative;
  //
  //    .number-box {
  //      display: inline-block;
  //      border: 5px solid #efefef;
  //      padding: 3px;
  //      border-radius: 50%;
  //      position: absolute;
  //
  //      span.number {
  //        display: inline-block;
  //        width: 28px;
  //        height: 28px;
  //        border-radius: 50%;
  //        background: #fff;
  //        text-align: center;
  //        color: #efefef;
  //        padding-top: 4px;
  //        font-weight: bold;
  //      }
  //    }
  //
  //    span.top-vertical-line {
  //      width: 3px;
  //      display: inline-block;
  //      height: 38px;
  //      background: #efefef;
  //      position: absolute;
  //      top: -38px;
  //      left: 20px;
  //    }
  //  }
  //
  //  span.name {
  //    margin-left: 50px;
  //    font-size: 16px;
  //    cursor: pointer;
  //    font-family: $rubik, sans-serif;
  //    font-weight: 400;
  //    padding-top: 7px;
  //    padding-bottom: 10px;
  //    display: block;
  //  }
  //}
}

input[type="radio"]:checked + .activity-item {
  box-shadow: 0 3px 6px #00000029;
  border: 2px solid #084892;
  border-radius: 4px;
  background: url(../../../assets/images/resource-tickmark.png) no-repeat right 15px top 13px;

  .activity-icon {
    display: none;
  }

  .overlay-activity-icon {
    display: inline;
  }

  span {
    color: #074892;
  }
}

.activity-label [type="radio"],
.question-label [type="radio"] {
  display: none;
}

.activity-item .activity-img {
  margin-top: 25px;
}

.activity-item .activity-content span {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding-top: 15px;
  display: block;
  letter-spacing: 0.4px;
  color: #707070;
  opacity: 1;
}

.add-resource-submit-btn {
  color: #fff;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  border-radius: 3px;
  /* margin-left: 9px; */
  cursor: pointer;
  margin-top: 30px;
  width: 110px;
  height: 56px;
  background: #2ecf43;
  font-size: 14px;
  font-family: "rubik", sans-serif;
  font-weight: 600;

  &.top {
    position: absolute;
    right: 50px;
    top: -1.1em;
    margin-top: 0;
    margin-right: -20px;
  }
}

.add-resource-continue-btn {
  color: #fff;
  text-transform: uppercase;
  border: 0;
  box-shadow: none;
  border-radius: 3px;
  /* margin-left: 9px; */
  cursor: pointer;
  margin-top: 30px;
  width: 195px;
  height: 56px;
  background: url(../../../assets/images/btn-arrow.png) #2ecf43 no-repeat right 20px top 21px;
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
  font-family: "rubik", sans-serif;
  font-weight: 600;
}

.resource-modal {
  h1 {
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    border-bottom: 1px solid #eaeaea;
    letter-spacing: 0;
    color: $curriki-main-blue;
    opacity: 1;
    padding-bottom: 20px;
    margin-bottom: 15px;

    .close-btn {
      float: right;
      border: 0;
      background: none;
      color: #7f92a1;
      -webkit-text-stroke: 3px white;
      cursor: pointer;
    }
  }

  .modal-content {
    padding: 40px 35px;
  }

  .modal {
    padding: 0 !important;
  }
}

.h5peditor-semi-fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  // left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

.describe-activity-wrapper {
  h1 {
    color: #165399;
    text-transform: capitalize;
    margin: 0;
    font-size: 2rem;
    font-family: "rubik", sans-serif;
    font-weight: 300;
  }

  .meta-form {
    h2 {
      color: #565656;
      font-size: 18px;
      font-family: "$halvetica", sans-serif;
      font-weight: 400;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .meta-title,
    .meta-subjects,
    .meta-education-levels {
      input,
      .rw-widget-input {
        width: 100%;
        border: 1px solid #d9dfe8;
        border-left: 3px solid #d9dfe8;
        height: 54px;
        padding-left: 15px;
      }
    }

    .upload-thumbnail {
      label {
        width: 100%;
        border: 1px solid #d9dfe8;
        border-left: 3px solid #d9dfe8;
        height: 54px;
        padding-left: 15px;
        cursor: pointer;

        input {
          display: none;
        }

        span {
          display: block;
          width: 138px;
          background: #d9dfe8;
          float: right;
          height: 100%;
          padding-top: 15px;
          color: #000;
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
          font-family: "rubik", sans-serif;
          font-weight: 600;
        }
      }

      .thumb-display {
        width: 280px;
        height: auto;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

.option-choose-way {
  display: none;
}