@import 'assets/css/index';
.main-myproject-card {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 356px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 2px rgba(81, 81, 81, 0.16);
  border-radius: 8px;
  &:hover {
    box-shadow: 0px 0px 12px 3px #adadad;
    border-color: transparent;
  }
  a.project-description {
    text-decoration: none;
  }
  //   padding: 15px;
  .myproject-card-top {
    border-radius: 5px;
    // background-image: url("../../assets/images/cardlistimg.png");
    background-size: 100% 100%;
    position: relative;
    height: 156px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &:before {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      // background-color: rgba(113, 117, 119, 0.7);
      background: linear-gradient(180deg, rgba(81, 81, 81, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .myproject-card-dropdown {
      position: absolute;
      top: 5px;
      right: 15px;
    }
    .myproject-card-title {
      position: absolute;
      bottom: 0px;
      left: 16px;
      h2 {
        font-family: $rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
        word-break: break-all;
        &:hover {
          text-decoration: underline;
          color: #ffc107;
        }
      }
    }
  }
  .myproject-card-detail {
    padding: 16px;
    p {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #767676;
      margin-bottom: 0 !important;
      word-break: break-all;
      text-overflow: ellipsis;
    }
  }
  .updated-date {
    padding-left: 16px;
    padding-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #767676;
  }
  .myproject-card-status {
    padding: 4px 20px 0 20px;
    p {
      color: #12b347;
      align-items: center;
      display: flex;
      font-family: $rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 0 !important;
      span {
        display: inline-block;
        height: 8px;
        width: 8px;
        background-color: #12b347;
        border-radius: 50px;
        margin-right: 5px;
      }
    }
  }
  .myproject-card-add-share {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    button {
      border: none;
      cursor: pointer;
      background: #fff;
      color: $curriki-main-blue;
      // box-shadow: 0px 1px 2px 1px rgba(81, 81, 81, 0.16);
      border-radius: 4px;

      a {
        display: flex;
        align-items: center;
      }
      &:hover {
        opacity: 1;
        transition: 0.3s;

        border-radius: 4px;
        .textinButton {
          display: inline-flex;
          margin-left: -10px;
          margin-right: 5px;
          // opacity: 1;
        }
      }
      .textinButton {
        display: none;
      }
    }
  }
}
