.google-publish-modal-container {
  .curriki-theme-primary-button {
    margin-top: 2em;
    width: 8em;
  }

  label {
    margin-top: 2em;
    width: 100%;
    font-size: larger;
  }

  h1 {
    font-size: x-large;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}