@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
	background-color: #eee;
	font-size: .875rem;
    color: #777;
    font-family: 'Hind Siliguri', sans-serif;
}


.clearfix {
    clear:both;
}
.row{
    margin-left: inherit;
    margin-right: inherit;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    // padding-left:inherit;
    // padding-right:inherit;
}
.create-playlist-btn {
    color: #607a9b;
    border:none;
    cursor: pointer;
    padding: 5px 10px 5px 35px;
    background: url(/images/create-playlist-plus-icon.png) no-repeat 96px 16px;
    background-color: #fafafa;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor:pointer;
    width:391px;
    height: 61px;
    font-size:16px;
    font-weight: 500;
    margin-left: 25px;
    &:hover {
        background-color: #fff;
    }
}

.remove-playlist-btn {
    background:none;
    border:none;
    float:right;
}

.add-resource-to-playlist-btn {
    color: #607a9b;
    border:none;
    padding: 5px 10px 5px 35px;
    background: url(/images/add-resource-plus-icon.png) no-repeat 87px 11px;
    border-radius: 3px;
    margin-bottom: 50px;
    cursor:pointer;
    width:344px;
    height: 46px;
    font-size:16px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border:1px solid #6d6d6d;
    // width:100%;
    // margin:0 5px;
    &:hover {
        color:inherit;
        text-decoration: none;;
    }
}
.content {
    margin-top:50px;
}

.modal {
    padding-top:15px !important;
    padding-right: 15px !important;
    display: block !important;
    background-color: #263b4eeb !important;  
    opacity: 1 !important;
}
.resource-modal .modal {
    padding-top:0 !important;
}







#board {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    margin-top: 15px;
}

.list-wrapper {
    // width: 350px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    margin-left: 25px;
}



.list {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width:391px;
}

.list-header {
    flex: 0 0 auto;
    /*padding: 10px 8px;*/
    position: relative;
    min-height: 20px;
}

.list-header.is-menu-shown, .list-header.is-subscribe-shown {
    /*padding-right: 36px;*/
}

.u-fancy-scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

.list-cards {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

.card-composer-container {
    min-height: 38px;
    max-height: 38px;
    display: flex;
    justify-content: space-between;
}

.open-card-composer {
    border-radius: 3px;
    color: #5e6c84;
    display: block;
    flex: 1 0 auto;
    margin: 2px 0 8px 8px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.open-card-composer .icon-add {
    color: #6b778c;
    margin-right: 2px;
}

.list-header-name {
    border-radius: 3px;
    box-shadow: none;
    font-weight: 700;
    /* margin: -4px 0; */
    /* height: 20px; */
    min-height: 20px;
    resize: none;
    max-height: 256px;
    font-size: 16px;
    background: #fff;
    padding: 20px 25px;
    border-top: 3px solid #fdc558;
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.playlist-search {
    .search {
        border:none;
        background:none;
        background:url(/images/search-icon.png) no-repeat 0px 4px;
        padding-left:25px;
        margin-left: 28px;
        &:focus {
            border:0;
            box-shadow:none;
            outline:0;
        }
    }
}


.program-search {
    .search {
        border:none;
        background:none;
        background:url(/images/search-icon.png) no-repeat 0px 4px;
        padding-left:25px;
        &:focus {
            border:0;
            box-shadow:none;
            outline:0;
        }
    }
}

.list-body {
    min-height: 510px;
    background: #f9f9f9;
    .playlist-resource {
        background: #fff;
        border-left: 3px solid #074892;
        margin: 15px;
        padding: 15px;
        min-height: 120px;
        .title {
            color:#000;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size:14px;
            float:left;
        }
        .activity-options {
            float:right;
            cursor:pointer;
            span {
                border:2px solid #dbdbdb;
                display:block;
                width:2px;
                margin-top:2px;
                margin-left: auto;
            }
            .options {
                margin-top:5px;
                .preview-btn {
                    background:#fff;
                    border:1px solid #ccc;
                    padding: 8px;
                    cursor:pointer;
                    display: block;
                    width:100%;
                }
                .edit-btn {
                    background:#fff;
                    border:1px solid #ccc;
                    padding: 8px;
                    cursor:pointer;
                    display: block;
                    width:100%;
                }
                .delete-btn {
                    background:#fff;
                    border:1px solid #ccc;
                    padding: 8px;
                    cursor:pointer;
                    display: block;
                    width:100%;
                }
                
            }
        }
    }
}


.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
        width: 75%;
        max-width: none;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
        overflow-y: auto;
        border-radius: 0;
        border: 0;
	}
	
	.modal.left .modal-body,
    .modal.right .modal-body,
    .modal.left .modal-title,
	.modal.right .modal-title {
		padding: 15px 15px 40px;
	}


        
/*Right*/
	.modal.right.fade .modal-dialog {
        right: 0;
        padding-top: 0 !important;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}



.post {
    .post-title {
        &>label {
            display: block;
        }
    }
}



.login-container {
    background:#fff;
    margin-top:105px;
    max-width: 1202px;
    margin:105px auto;
    border-radius: 5px;
    .login-left {
        max-width: 650px;
        padding:92px 75px 65px 92px;
        float:left;
        border-right: 1px solid #f4f8fe;
        h1 {
            color:#0063d5;
            font-family: 'Hind Siliguri', sans-serif;
            font-weight: 300;
            font-size:36px;
        }
        p {
            font-family: 'Hind Siliguri', sans-serif;
            font-weight: 300;
            font-size:18px;
            color:#000;
        }
        .login-form {
            margin-top:35px;
        }
        .username-box {
            margin-bottom: 25px;
            .username-icon {
                background: url(/images/username-icon.png) no-repeat center center;
                background-color: #fff;
                width:54px;
                height:54px;
                border:1px solid #d9dfe8;
                float:left;
            }
            .username {
                display: block;
                width:420px;
                height: 54px;
                border:1px solid #d9dfe8;
                background-color: #fff;
                color:#000;
                border-left: none;
                padding:18px;
                &:focus {
                    outline: none;
                }
            }
        }
        .password-box {
            margin-bottom: 35px;
            .password-icon {
                background: url(/images/password-icon.png) no-repeat center center;
                background-color: #fff;
                width:54px;
                height:54px;
                border:1px solid #d9dfe8;
                float:left;
            }
            .password {
                display: block;
                width:420px;
                height: 54px;
                border:1px solid #d9dfe8;
                border-left: none;
                background-color: #fff;
                color:#000;
                padding:18px;
                &:focus {
                    outline: none;
                }
            }
        }

        .rememberme-check-box {
            font-size: 16px;
            font-family: 'Hind Siliguri', sans-serif;
            font-weight: 300;
            color:#333;
            [type=checkbox]{
                display:none;
            }
            span {
                border: 1px solid #ccc;
                width:18px;
                height: 18px;
                display: block;
                float:left;
                margin-top: 2px;
                margin-right: 12px;
                border-radius: 3px;
              }
            [type=checkbox]:checked + span {
                position: relative;
                display: inline-block;
                width: 18px;
                height: 18px;
                background:#374761;
            }
            
            [type=checkbox]:checked + span::before {
                position: absolute;
                left: 2px;
                bottom: 3px;
                height: 8px;
                width: 3px;
                background-color: #fff;
                content: "";
                transform: translateX(5px) rotate(-45deg);
                transform-origin: left bottom;
            }
            
            [type=checkbox]:checked + span::after {
                position: absolute;
                left: 3px;
                bottom: 4px;
                height: 3px;
                width: 12px;
                background-color: #fff;
                content: "";
                transform: translateX(5px) rotate(-45deg);
                transform-origin: left bottom;
            }
            
        }
        .forgot-password-box {
            text-align: right;
            padding-right: 10px;
            a {
                color:#9b9b9b;
                font-family: 'Hind Siliguri', sans-serif;
                font-weight: 400;
            }
        }
        .login-submit {
            background:#0063d5;
            color:#fff;
            width:474px;
            height:56px;
            font-size:16px;
        }
        .create-account-block {
            margin-top:35px;
            p {
                font-size:16px;
                color:#000;
                font-family: 'Hind Siliguri', sans-serif;
                font-weight: 400;
                a {
                    font-weight: 500;
                    color:#000;
                }
            }
        }
    }
    .login-right {
        max-width:460px;
        padding:130px 75px 92px 70px;
        float:left;

        .login-right-heading {
            h2 {
                margin:45px 0;
                text-align: center;
                font-family: 'Hind Siliguri', sans-serif;
                font-weight: 300;
                font-size:30px;
                color:#374761;
            }
        }
        .login-right-text {
            p {
                color:#777777;
                margin:15px 0;
                text-align: center;
                font-family: 'Hind Siliguri', sans-serif;
                font-weight: 300;
                font-size:20px;
            }
        }
    }
}

.program-tile {
    background:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 25px;
    .program-thumb {
        height: 240px;
        overflow: hidden;
        img {
            min-width: 100%;
            height: auto;
            margin: auto;
            display: block;
            min-height: 100%;
        }
    
    }
    .program-content {
        padding: 10px 5px;
        min-height: 225px;
        h3 {
            margin-top:15px;
            a {
                color:#607a9b;
                font-size:26px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                &:hover {
                    text-decoration:none;
                }
            }
        }
        i {
            font-size:20px;
        }
        button {
            box-shadow: none;
        }
        .program-creator {
            color:#aaa;
            font-size: 14px;
            a {
                color:inherit;
            }
        }
        .lessons-duration {
            margin-top: 5px;
             p{
                 text-align: justify;
             }
            .lessons {
                display: inline-block;
                .icon {
                    width:13px;
                    height:13px;
                    background:url(/images/program-lesson-icon.png) no-repeat center center;
                    display:block;
                    float:left;
                    margin-top: 3px;
                    margin-right: 8px;
                }
            }
            .duration {
                display: inline-block;
                margin-left:15px;
                .icon {
                    width:13px;
                    height:13px;
                    background:url(/images/program-duration-icon.png) no-repeat center center;
                    display:block;
                    float:left;
                    margin-top: 3px;
                    margin-right: 8px;
                }
            }
        }
        .go-to-playlist {
            text-align: right;
            margin-top: 25px;
            position: absolute;
            bottom: 30px;
            right: 50px
        }
    }
}

.program-page-title {
    h1 {
        padding-left: 40px;
        background: url(/images/my-projects-icon.png) no-repeat 0 9px;
        color: #607a9b;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}



.main-content-wrapper {
    // display: flex;
    padding-top:60px;
    float: left;
    width: 100%;
    .sidebar-wrapper {
        width:292px;
        float:left;
        border-right: 1px solid #dcdcdc;
    }
    .content-wrapper {
        // flex-grow: 100;
    }
}


.h5p-content-wrap {
    .h5p-iframe-wrapper {
        & >iframe {
            width:100%;
            height:450px;
        }
    }
}