@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: #eee;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*:focus {
  outline: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.clearfix {
  clear: both;
}

.thumb-image {
  object-fit: none;
  width: 100%;
  max-height: 200px;
}

.student-score {
  text-decoration: none;
  color: gray;
}

.btn-primary {
  border: none;
}

.playlist-dropdown {
  .playlist-dropdown-btn {
    height: 24px;
    padding: 0 10px !important;
    color: #868686 !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:after {
      display: none;
      border-top-color: white !important;
    }
  }

  .alert {
    margin-top: 1rem;
  }
}

.slick-slider {
  .alert-info {
    width: 300px;
    white-space: nowrap;
  }
}

.welcome-video {
  width: 60%;
}

.alert-link-ref {
  color: #155724;
  text-decoration: underline;

  &:hover {
    color: #155724;
  }
}

.content-wrapper.list-grid {
  .playlist-resource {
    width: 100%;

    .col-md-3.check {
      max-width: 100%;

      .program-tile {
        min-height: 100%;
        display: flex;
        flex-direction: row;
      }

      .program-content {
        width: 100%;
      }

      .program-thumb {
        width: 260px;
        height: 140px;
      }

      .button-bottom {
        justify-content: flex-end;

        a {
          width: 80px;
          display: flex;
          border: 0;
        }
      }
    }
  }
}

.content-wrapper.normal-grid {
  .check-home {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-smaple {
    display: flex;
    flex-wrap: wrap;
  }

  .drag-class {
    display: inline-flex;
  }

  .playlist-resource {
    max-width: 25%;
    width: 24%;
    margin-right: 17px;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }

    .col-md-3.check {
      max-width: 100%;
      margin-bottom: 17px;
      padding: 0;
    }

    .program-tile {
      position: relative;
    }

    .program-tile {
      position: relative;
    }

    .button-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;

      a {
        width: 33.3%;
        flex: 1;

        &:hover {
          background: $fun-blue-1;
          color: #fff;
        }
      }
    }
  }
}

.content-wrapper.small-grid {
  .check-home {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-smaple {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .playlist-resource {
    max-width: 20%;
    width: 20%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    .col-md-3.check {
      max-width: 100%;
      margin-bottom: 12px;
      padding: 0;
    }

    .program-thumb {
      height: 150px;
    }

    .program-tile {
      position: relative;
      min-height: 380px;
      height: 300px;
    }

    .button-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      margin: 0;

      a {
        width: 33.3%;
        flex: 1;

        &:hover {
          background: $fun-blue-1;
          color: #fff;
        }
      }

      svg {
        display: none;
      }
    }
  }
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 1050;
}

.react-confirm-alert {
  min-width: 650px;
  background: #fff !important;
  padding: 25px;
  border-radius: 5px;
}
