@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  background-color: #eee;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 14px;
  color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*:focus {
  outline: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b2c3d6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.clearfix {
  clear: both;
}

.thumb-image {
  object-fit: none;
  width: 100%;
  max-height: 200px;
}

.student-score {
  text-decoration: none;
  color: gray;
}

.btn-primary {
  border: none;
}

.playlist-dropdown {
  .playlist-dropdown-btn {
    height: 24px;
    padding: 0 10px !important;
    color: #868686 !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:after {
      display: none;
      border-top-color: white !important;
    }
  }

  .alert {
    margin-top: 1rem;
  }
}

.slick-slider {
  .alert-info {
    width: 300px;
    white-space: nowrap;
  }
}

.welcome-video {
  width: 60%;
}

.alert-link-ref {
  color: #155724;
  text-decoration: underline;

  &:hover {
    color: #155724;
  }
}

.content-wrapper.small-grid {
  .check-home {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-smaple {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .playlist-resource {
    max-width: 25%;
    width: 25%;
    margin-right: 10px;

    // &:last-child {
    //   margin-right: 0;
    // }

    .col-md-3.check {
      max-width: 100%;
      margin-bottom: 12px;
      padding: 0;
    }

    .program-thumb {
      height: 150px;
    }

    .program-tile {
      position: relative;
      min-height: 380px;
      height: 300px;
    }

    .button-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      margin: 0;

      a {
        width: 33.3%;
        flex: 1;

        &:hover {
          background: $fun-blue-1;
          color: #fff;
        }
      }

      svg {
        display: none;
      }
    }
  }
}

.customcard6 .playlist-resource {
  max-width: 15% !important;
  width: 15% !important;
}
.customcard5 .playlist-resource {
  max-width: 20% !important;
  width: 20% !important;
}

.customcard4 .playlist-resource {
  max-width: 25% !important;
  width: 25% !important;
}

.customcard3 .playlist-resource {
  max-width: 33% !important;
  width: 33% !important;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 1050;
}

.react-confirm-alert {
  min-width: 650px;
  background: #fff !important;
  padding: 25px;
  border-radius: 5px;
}

.customhtml {
  display: block;
}

#specfic-detail-safe-learn {
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.curriki-tooltip {
}
