@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: #eee;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*:focus {
  outline: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.clearfix {
  clear: both;
}

.thumb-image {
  object-fit: none;
  width: 100%;
  max-height: 200px;
}

.student-score {
  text-decoration: none;
  color: gray;
}

.btn-primary {
  border: none;
}

.playlist-dropdown {
  .playlist-dropdown-btn {
    height: 24px;
    padding: 0 10px !important;
    color: #868686 !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:after {
      display: none;
      border-top-color: white !important;
    }
  }

  .alert {
    margin-top: 1rem;
  }
}


.mobile-app-alert{
  display: none;
}

@media (max-width:991px){
  .mobile-app-alert{
    background-color: #eee;
    color:#333;
    height: 100%;
    width: 100%;
    z-index:111;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;

    img{
      width:260px;
      margin-bottom:15px;
    }
    .text-description{
       background-color: #fff;
       padding: 35px 20px;
    }

    h2{
      font-weight: Bold;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0;
      color: #0f4392;
      text-transform: uppercase;
    }

    p{
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0;
      color: #464646;
    }

    a{
      width: 100%;
      min-width: 150px;
      height: 40px;
      background: #4646c4 0 0 no-repeat padding-box;
      border-color: #4646c4;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 0.76px;
      color: #ffffff;
      opacity: 1;
      margin:0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

    }

  }
} 