@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: #eee;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*:focus {
  outline: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.clearfix {
  clear: both;
}

.thumb-image {
  object-fit: none;
  width: 100%;
  max-height: 200px;
}

.student-score {
  text-decoration: none;
  color: gray;
}

.btn-primary {
  border: none;
}

.playlist-dropdown {
  .playlist-dropdown-btn {
    height: 24px;
    padding: 0 10px !important;
    color: #868686 !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;

    &:after {
      display: none;
      border-top-color: white !important;
    }
  }

  .alert {
    margin-top: 1rem;
  }
}

.slick-slider {
  
  .alert-info {
    white-space: nowrap;
    width: 300px;
  }
}

.welcome-video{
  width:60%;
 }

.alert-link-ref{
  color: #155724;
  text-decoration: underline;

  &:hover{
    color: #155724;
  }
}



.content-wrapper.list-grid {
  .playlist-resource {
    width: 100%;

    .col-md-3.check {
      max-width: 100%;

    .program-tile {
      display: flex;
      flex-direction: row;
      min-height: 100%;
    }

    .program-content {
      width: 100%;
    }

    .program-thumb {
      width: 260px;
      height: 140px;
    }

    .button-bottom {
      justify-content: flex-end;

      a {
        border: 0px;
        display: flex;
        width: 80px;
      }
    }
    }
  }
}

.content-wrapper.normal-grid {
  .row.check-home {
    margin: 0;
    flex-wrap: nowrap;
  }

  .playlist-resource {
    max-width: 24%;
    width: 24%;
    margin-right: 17px;
    padding: 0;

    &:last-child {
      margin-right: 0px;
    }

    .col-md-3.check {
      max-width: 100%;
      padding: 0px;
      margin-bottom: 17px;
    }

    .program-tile {
      position: relative;
    }

    .program-tile {
      position: relative;
    }

    .button-bottom {
      position: absolute;
      bottom: 0;
      margin: 0;
      left: 0;
      width: 100%;

      a {
        flex: 1;
        width: 33.3%;
      }
    }
  }
}

.content-wrapper.small-grid {
  .row.check-home {
    margin: 0;
    flex-wrap: nowrap;
  }

  .playlist-resource {
    max-width: 16%;
    width: 16%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }

    .col-md-3.check {
      max-width: 100%;
      padding: 0px;
      margin-bottom: 12px;
    }

    .program-thumb {
      height: 150px;
    }

    .program-tile {
      position: relative;
      height: 300px;
      min-height: 380px;
    }

    .button-bottom {
      position: absolute;
      bottom: 0;
      margin: 0;
      left: 0;
      width: 100%;

      a {
        flex: 1;
        width: 33.3%;
      }

      svg {
        display: none;
      }
    }
  }
}

 