.lti-deeplink-activity-container h3 {
  color: darkslateblue;
}

.lti-deeplink-activity-container h5 {
  color: rgb(8, 72, 146);
}
.lti-deeplink-activity-container {
  .result {
    padding: 0 !important;
    margin-bottom: 8px;
    border-bottom: 1px solid #b5b5b5;

    .activity{
      margin: 12px 0;
      align-items: flex-end;
      .activity-about {
        display: flex;
        padding-left: 0 !important;
        margin-left: 4px;
        .activity-img {
          width: 160px;
          height: auto;
          border-radius: 4px;
          border-radius: 4px;
          background-size: cover;
          background-position: center;
          height: 85px;
        }

        .activity-details-row {
          margin-left: 16px;

          .activity-detail {
            padding-left: 0 !important;
            .activity-detail-title {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 4px !important;
            }
            .activity-detail-paragraph {
              max-width: 503px;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #767676;
              margin-bottom: 4px !important;
            }
            .activity-detail-by-author {
              font-weight: normal;
              font-size: 12px;
              line-height: 16px;
              color: rgb(8, 72, 146) !important;
              margin-bottom: 0 !important;
              & label {
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #959595;
                margin-bottom: 4px !important;
              }
            }
          }
        }
      }
      .actions {
        & button {
          width: 105px;
          height: 28px;
          padding: 0 !important;
          background: #f7faff;
          border-radius: 4px;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #2e68bf;
          @media (max-width: 767px) {
            margin-top: 10px;
          }
          & :active {
            background: #e5eeff;
            color: #084892;
          }
        }
      }
    }
  }
}

.dropdown-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #e5eeff;
  margin-left: 8px;

  .btn-primary:hover {
    color: #084892;
    background-color: transparent;
    border-color: transparent;
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 247, 247, 0%);
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    color: #084892;
    background-color: transparent;
    border-color: transparent;
  }

  .dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0;
    content: '';
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
  }

  .dropdown-menu.show {
    padding: 8px 16px;
    .dropdown-item {
      color: #084892;
      & svg {
        margin-right: 8px;
      }
    }
    .dropdown-item:hover {
      background: #f7faff !important;
    }
  }
}

.pull-right {
  color: rgb(8, 72, 146);
}

.lti-deeplink-project-container {
  .playlists-row {
    .playlists-container {
      margin-bottom: 28px;
      .card {
        border: none;

        .list-group-item {
          border: none;
          padding: 0px 15px 8px;
          border-radius: 8px;
        }
        .active {
          padding: 22.5px 16px;

          border-radius: 8px;
          box-shadow: 0px 1px 6px 1px rgba(8, 72, 146, 0.16);
          background: #ffffff;

          & h5 {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #084892;

            margin-bottom: 0 !important;
          }
        }
        .active-2 {
          padding: 22.5px 16px;
          background: #f7faff;
          box-shadow: 0px 4px 12px 2px rgba(8, 72, 146, 0.16);
          border-radius: 8px;

          & h5 {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #084892;

            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}

.lti-deeplink-project-container .project-details-row label {
  font-weight: bolder;
}
